<body>
	<!--KF KODE WRAPPER WRAP START-->
    <div class="kode_wrapper">
    <!-- register Modal -->
        <!--Banner Wrap Start-->
        <div class="kf_inr_banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>

        <!--Banner Wrap End-->

    	<!--Content Wrap Start-->
    	<div class="kf_content_wrap">
    				
    		<section class="error_outer_wrap">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-12">
    						<div class="error_wrap">
    							<div class="error_des">
    								<span>404</span>
    								<h3>Sorry Page Not Found</h3>
    								<p>The page you are looking for is not available or has been removed. Try going to <strong>HOME PAGE</strong> by using the button below.</p>
    							</div>
    							<div class="error_thumb">
    								<figure>
    									<img src="../../assets/extra-images/404_thumb.jpg" alt=""/>
    									<figcaption><a href="#"><i class="fa fa-home"></i>GO TO HOME</a></figcaption>
    								</figure>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</section>
    			
    	</div>
        <!--Content Wrap End-->
    </div>
    <!--KF KODE WRAPPER WRAP END-->

 