<div class="kf_inr_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--KF INR BANNER DES Wrap Start-->
        <div class="kf_inr_ban_des">
          <div class="inr_banner_heading">
            <h3>Dossier mission ou stage</h3>
          </div>

          <div class="kf_inr_breadcrumb">
            <ul>
              <li><a href="#">Recherche</a></li>
              <li><a href="#">Dossier mission ou stage</a></li>
            </ul>
          </div>
        </div>
        <!--KF INR BANNER DES Wrap End-->
      </div>
    </div>
  </div>
</div>
<div class="kf_content_wrap" xmlns="http://www.w3.org/1999/html">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="kf_courses_detail_des">
            <h3>Les pièces à joindre pour un dossier de stage ou de mission à l’étranger</h3>
            <ul class="circle">
              <li>
                Une demande de prise en charge des frais signée par l’intéressé et le responsable du laboratoire ou
                l’unité de recherche.
              </li>
              <li>Une invitation signée</li>
              <li>Copie de la C.I.N</li>
              <li>Attestation d’absence pour les enseignants</li>
              <li>Attestation d’inscription de l’année universitaire en cours pour les étudiants</li>
              <li>
                Fiche de renseignement à remplir
                <a
                  (click)="openPdf('assets/upload/fiche_renseignement.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: #777777; text-align: right; font-weight: bold"
                  >(fiche_renseignement.pdf)</a
                >
              </li>
              <li>
                Déclaration sur l’honneur à remplir pour le cas d’une mission ou un stage à effectuer pour la première
                fois
                <a
                  (click)="openPdf('assets/upload/declaration_sur_honneur.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: #777777; text-align: right; font-weight: bold"
                >
                  (déclaration1_sur_honneur.pdf)</a
                >
              </li>
              <li>
                Déclaration sur l’honneur / l’organisme étranger à remplir : le cas où la partie étrangère ne prend pas
                en charge les frais de la mission ou stage de l’intéressé
                <a
                  (click)="openPdf('assets/upload/declaration_sur_honneur_ar.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: #777777; text-align: right; font-weight: bold"
                >
                  (déclaration2_sur_honneur.pdf)</a
                >
              </li>
              <li>Attestation de prix auprès de TUNISAIR ( Transport/avion )</li>
              <li>Devis estimatif/l’internet (Transport/train, frais de Visa, …)</li>
            </ul>
            <h6>Les pièces à ajouter pour participer à un congrès :</h6>
            <ul class="circle">
              <li>Abstract de la communication / de l’article / du poster à présenter</li>
              <li>Programme du congrès</li>
            </ul>
            <h6>A la fin du stage ou de la mission, transmettre au service des stages :</h6>
            <ul class="circle">
              <li>Un rapport qui décrit les aspects scientifiques et techniques de la mission</li>
              <li>
                Un rapport à remplir
                <a
                  (click)="openPdf('assets/upload/rapport_missionr.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: #777777; text-align: right; font-weight: bold"
                  >(rapport_mission.pdf)</a
                >
              </li>
              <li>
                Convention de stage dans le cadre d'une bourse en Alternance
                <a
                  (click)="openPdf('assets/upload/convention_stage.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: #777777; text-align: right; font-weight: bold"
                  >(convention_de_stage)</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
