<div class="kf_inr_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--KF INR BANNER DES Wrap Start-->
        <div class="kf_inr_ban_des">
          <div class="inr_banner_heading">
            <h3>Samsung Academy</h3>
          </div>

          <div class="kf_inr_breadcrumb">
            <ul>
              <li><a href="JavaScript:Void(0);">Formation</a></li>
              <li><a href="/formation/samsung">Samsung Academy</a></li>
            </ul>
          </div>
        </div>
        <!--KF INR BANNER DES Wrap End-->
      </div>
    </div>
  </div>
</div>

<!--Banner Wrap End-->

<!--Content Wrap Start-->
<div class="kf_content_wrap">
  <section>
    <div class="container">
      <div class="filterable_heading">
        <h3>Samsung Academy</h3>
        <!-- Single button -->
      </div>

      <div class="row gallery">
        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA1.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA1.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA1.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>

        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA2.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA2.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA2.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>

        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA3.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA3.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA3.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>

        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA4.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA4.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA4.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>

        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA5.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA5.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA5.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>

        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA6.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA6.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA6.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>

        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA7.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA7.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA7.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>

        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA8.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA8.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA8.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>

        <div class="col-md-4 col-sm-6">
          <!--FILTERABLE THUMB Start-->
          <div class="filterable_thumb">
            <figure>
              <img src="../../../assets/images/photos_insat/SA9.png" alt="" />
              <figcaption>
                <a
                  href="../../../assets/images/photos_insat/SA9.png"
                  data-toggle="modal"
                  data-target="#show-image"
                  (click)="image = '../../../assets/images/photos_insat/SA9.png'"
                  ><i class="fa fa-plus"></i
                ></a>
              </figcaption>
            </figure>
          </div>
          <!--FILTERABLE THUMB END-->
        </div>
      </div>
      <div class="loadmore">
        <a href="JavaScript:Void(0);" (click)="openPdf(presentation)" class="btn-3"
          >Présentation de l'espace SAMSUNG ACADEMY</a
        >
      </div>
    </div>
  </section>
</div>
<!--Content Wrap End-->
<!-- Photo Modal -->
<div
  class="modal fade"
  id="show-image"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Samsung Academy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="image" />
      </div>
    </div>
  </div>
</div>

<!-- register Modal end-->
