<!--Banner Wrap Start-->
<div class="kf_inr_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--KF INR BANNER DES Wrap Start-->
        <div class="kf_inr_ban_des">
          <div class="inr_banner_heading">
            <h3>Génie Informatique et Mathématiques</h3>
          </div>

          <div class="kf_inr_breadcrumb">
            <ul>
              <li><a href="/insat/">A propos de l'INSAT</a></li>
              <li><a href="/insat/infmath">Génie Informatique et Mathématiques</a></li>
            </ul>
          </div>
        </div>
        <!--KF INR BANNER DES Wrap End-->
      </div>
    </div>
  </div>
</div>

<!--Banner Wrap End-->

<!--Content Wrap Start-->
<div class="kf_content_wrap">
  <section>
    <div class="container">
      <div class="row">
        <div class="col" style="max-width: 90%; margin-left: auto; margin-right: auto">
          <!-- COURSES DETAIL WRAP START -->
          <div class="kf_courses_detail_wrap">
            <div class="courses_detail_heading">
              <h4>Département de Génie Informatique et Mathématiques</h4>
            </div>

            <!-- COURSES DETAIL TABS WRAP START -->
            <div class="kf_courses_tabs">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" [ngClass]="{ 'active-tab': tablist[0] }" (click)="changeActiveTab(0)">
                  <a href="#coursedetails" aria-controls="coursedetails" role="tab" data-toggle="tab">Présentation</a>
                </li>
                <li role="presentation" [ngClass]="{ 'active-tab': tablist[1] }" (click)="changeActiveTab(1)">
                  <a href="#coursestructure" aria-controls="coursestructure" role="tab" data-toggle="tab"
                    >Enseignants Permanents</a
                  >
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="coursedetails">
                  <!-- COURSES DETAIL DES START -->
                  <div class="kf_courses_detail_des">
                    <div class="course_heading">
                      <h3>Présentation</h3>
                    </div>
                    <p>
                      L’INSAT poursuit l’objectif ambitieux de donner à ses élèves une double formation, à la fois
                      technique et managérial.
                    </p>

                    <p>
                      A ce titre, le département SSLFG adopte une approche pluridisciplinaire et articule la formation
                      qu’il propose autour de l’économie, de la gestion, du droit, de la sociologie et des langues. Ces
                      disciplines occupent une place tout à fait centrale dans la formation de l’ingénieur.
                    </p>
                    <p>
                      Elles le préparent donc à interagir avec des collègues ayant des formations très différentes de la
                      sienne et avec lesquels il devra communiquer, travailler, concevoir, gérer, animer un travail
                      d’équipe et partager ses compétences dans le cadre de projets à dimensions multiples.
                    </p>
                    <p>
                      L’enseignement de l’économie, de la finance et des sciences sociales donne également à l’ingénieur
                      la possibilité de s’orienter vers des carrières qui ne relèvent pas directement du champ
                      technique, mais dans lesquelles il pourra cependant pleinement valoriser ses connaissances
                      scientifiques (ex : travailler dans des bureaux d’études, dans des cabinets de conseil ; créer son
                      propre projet d’entreprise…).
                    </p>
                    <p>
                      Dans le contexte actuel de mobilité internationale, l’ingénieur se doit de maitriser la pratique
                      des langues étrangères. Le département propose l’enseignement du français et de l’anglais. Le
                      Département prépare également ses futurs ingénieurs au TOEIC (Test of English for International
                      Communication).
                    </p>
                  </div>
                  <!-- COURSES DETAIL DES END -->
                </div>

                <div role="tabpanel" class="tab-pane" id="coursestructure">
                  <!-- STUDY TABLE WRAP START -->
                  <div class="study_table_wrap">
                    <h6>Grade Professeur</h6>
                    <!--  TABLE  START -->
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nom et Prénom</th>
                          <th>Grade</th>
                          <th>Discipline</th>
                          <th>E-mail</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let prof of professeurs">
                          <td>{{ prof.nom }}</td>
                          <td>{{ prof.grade }}</td>
                          <td>{{ prof.discipline }}</td>
                          <td>{{ prof.email }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!--  TABLE  END -->
                  </div>
                  <!-- STUDY TABLE WRAP END -->
                  <!-- STUDY TABLE WRAP START -->
                  <div class="study_table_wrap">
                    <h6>Grade Maître de Conférences</h6>
                    <!--  TABLE  START -->
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nom et Prénom</th>
                          <th>Grade</th>
                          <th>Discipline</th>
                          <th>E-mail</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let prof of maitresConf">
                          <td>{{ prof.nom }}</td>
                          <td>{{ prof.grade }}</td>
                          <td>{{ prof.discipline }}</td>
                          <td>{{ prof.email }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!--  TABLE  END -->
                  </div>
                  <!-- STUDY TABLE WRAP END -->
                  <!-- STUDY TABLE WRAP START -->
                  <div class="study_table_wrap">
                    <h6>Grade Maître Assistant</h6>
                    <!--  TABLE  START -->
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nom et Prénom</th>
                          <th>Grade</th>
                          <th>Discipline</th>
                          <th>E-mail</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let prof of maitresAss">
                          <td>{{ prof.nom }}</td>
                          <td>{{ prof.grade }}</td>
                          <td>{{ prof.discipline }}</td>
                          <td>{{ prof.email }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!--  TABLE  END -->
                  </div>
                  <!-- STUDY TABLE WRAP END -->
                  <!-- STUDY TABLE WRAP START -->
                  <div class="study_table_wrap">
                    <h6>Grade Professeur de l'Enseignement Secondaire</h6>
                    <!--  TABLE  START -->
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nom et Prénom</th>
                          <th>Grade</th>
                          <th>Discipline</th>
                          <th>E-mail</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let prof of pes">
                          <td>{{ prof.nom }}</td>
                          <td>{{ prof.grade }}</td>
                          <td>{{ prof.discipline }}</td>
                          <td>{{ prof.email }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!--  TABLE  END -->
                  </div>
                  <!-- STUDY TABLE WRAP END -->
                </div>
              </div>
            </div>
            <!-- COURSES DETAIL TABS WRAP END -->

            <!--KF_BLOG DETAIL_DES END-->
          </div>
          <!-- COURSES DETAIL WRAP END -->
        </div>
      </div>
    </div>
  </section>
</div>
<!--Content Wrap End-->
