h5,h3{
    color : #8B0000;
    margin-bottom: 5px;
}

.espace{

    margin-top : 30px ;

}
.wrap{
	position: relative;
	background-color: #f8f8f8;
}
.wrap:before{
	content: "";
	left: 0;
	width: 50%;
	top: 0;
    bottom: 0;
    background-image: url(src/assets/extra-images/news3.jpg);
	background-size: cover;
	background-position: center;
	position: absolute;
}