<section>
    
        <!-- HEADING 2 START-->
        <div class="col-md-12">
            <div class="kf_edu2_heading2">
                <h3>{{event.titre}}</h3>
            </div>
        </div>
        <!-- HEADING 2 END-->
        <!-- INTERO DES START-->
    <section class="wrap" >
        <div class="kf_intro_des_wrap" >
            <div>
                <h5>Description : </h5>
                <h6>{{event.description}}</h6>
            </div>
        
            <div class="espace">
                <h5>Cet évenement est organisé par : </h5>
                <h6>{{event.club}}</h6>
            </div>
            <div class="espace">
                <h5>Description du club : </h5>
                <h6>{{event.descriptionClub}}</h6>
            </div>
        </div>
        <!-- INTERO DES END-->
    </section>

</section>
