<body>
  <!--KF KODE WRAPPER WRAP START-->
  <div class="kode_wrapper">
    <!--Banner Wrap Start-->
    <div class="kf_inr_banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--KF INR BANNER DES Wrap Start-->
            <div class="kf_inr_ban_des">
              <div class="inr_banner_heading">
                <h3>A propos de l'INSAT</h3>
              </div>

              <div class="kf_inr_breadcrumb">
                <ul>
                  <li><a href="/">Accueil</a></li>
                  <li><a href="/insat">A propos de l'INSAT</a></li>
                </ul>
              </div>
            </div>
            <!--KF INR BANNER DES Wrap End-->
          </div>
        </div>
      </div>
    </div>

    <!--Banner Wrap End-->

    <!--Content Wrap Start-->
    <div class="kf_content_wrap">
      <!--ABOUT UNIVERSITY START-->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="abt_univ_wrap">
                <!-- HEADING 1 START-->
                <div class="kf_edu2_heading1">
                  <h5>A propos de l'INSAT</h5>
                  <h3>Bienvenu à l'INSAT</h3>
                </div>
                <!-- HEADING 1 END-->

                <div class="abt_univ_des" style="text-align: justify">
                  <span
                    >L'INSAT, créé en 1922 (loi n°92-102 du 02 novembre 1992), est une institution publique placée sous
                    la tutelle du Ministère de l’Enseignement Supérieur et de la Recherche Scientifique. Selon l’article
                    2 de la loi n°92-102, l’INSAT :
                  </span>
                  <ul>
                    <p>
                      <li>
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Dispense un enseignement supérieur ayant pour objet la formation de cadres qualifies et de
                        cadres hautement qualifiés dans les domaines de l’ingénierie et de la technologie pour les
                        secteurs public et privé de la vie économique et de la recherche.
                      </li>
                      <li>
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Participe à la formation continue des ingénieurs.
                      </li>
                      <li>
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Assure directement ou indirectement la promotion de ses activités de formation et de recherche
                        et les faits connaître.
                      </li>
                      <li>
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Participe à la mission de diffusion de la culture scientifique et technique.
                      </li>
                      <li>
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Concourt par les activités qui l’organise, à l’effort de développement technologique et de
                        recherche.
                      </li>
                    </p>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="abt_univ_thumb">
                <figure>
                  <img
                    class="img-fluid"
                    src="../../assets/images/photos_insat/IMG_20210106_171135-01.jpeg"
                    alt=""
                    style="max-height: 80%"
                  />
                </figure>
                <!-- <a href="#" class="btn-3" style="margin-left: auto; margin-right: auto; text-align: center;">Know More</a>
                            -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--ABOUT UNIVERSITY END-->

      <!--COUNTER SECTION START-->
      <section class="edu2_counter_wrap">
        <div class="container">
          <!--EDU2 COUNTER DES START-->
          <div class="edu2_counter_des">
            <span><i class="icon-group2"></i></span>
            <h3 class="counter">94,532</h3>
            <h5>Etudiants</h5>
          </div>
          <!--EDU2 COUNTER DES END-->
          <!--EDU2 COUNTER DES START-->
          <div class="edu2_counter_des">
            <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <h3 class="counter">25</h3>
            <h5>Années</h5>
          </div>
          <!--EDU2 COUNTER DES END-->
          <!--EDU2 COUNTER DES START-->
          <div class="edu2_counter_des">
            <span><i class="icon-win5"></i></span>
            <div style="display: inline-flex">
              <h3>+</h3>
              <h3 class="counter">70</h3>
            </div>
            <h5>Médailles et trophées</h5>
          </div>
          <!--EDU2 COUNTER DES END-->
          <!--EDU2 COUNTER DES START-->
          <div class="edu2_counter_des">
            <span><i class="icon-user255"></i></span>
            <h3 class="counter">261</h3>
            <h5>Enseignants</h5>
          </div>
          <!--EDU2 COUNTER DES END-->
        </div>
      </section>
      <!--COUNTER SECTION END-->

      <!--KF INTRO WRAP START-->
      <section class="abut-padiing">
        <div class="kf_intro_des_wrap aboutus_page">
          <div class="container">
            <div class="row">
              <!-- HEADING 2 START-->
              <div class="col-md-12">
                <div class="kf_edu2_heading2">
                  <h3>Nos Départements</h3>
                </div>
              </div>
              <!-- HEADING 2 END-->

              <div class="col-md-6 col-sm-12" style="margin-top: 5px">
                <!-- INTERO DES START-->
                <div class="kf_intro_des">
                  <div class="kf_intro_des_caption">
                    <span
                      ><i> <fa-icon [icon]="['fas', 'atom']"></fa-icon> </i
                    ></span>
                    <h6>Génie Physique et Instrumentation</h6>
                    <p>
                      Le Département de Génie Physique et Instrumentation propose, après une année de tronc commun en
                      Maths-Physique-Informatique (MPI), le choix entre deux options, dans le cadre du cycle
                      préparatoire intégré :

                      <li style="flex-wrap: nowrap">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Instrumentation et Maintenance Industrielle.
                      </li>
                      <li style="flex-wrap: nowrap">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Informatique Industrielle et Automatique.
                      </li>

                      Cette formation de qualité, à finalité professionnelle, mais également largement ouverte vers la
                      poursuite d'études, est fort appréciée des industriels comme des établissements universitaires
                      habilités pour des études doctorales.
                      <br />
                    </p>
                    <a routerLink="/insat/phyins" style="position: absolute; bottom: 0; left: 0; right: 0">Voir Plus</a>
                  </div>
                </div>
                <!-- INTERO DES END-->
              </div>

              <div class="col-md-6 col-sm-12" style="margin-top: 5px">
                <!-- INTERO DES START-->
                <div class="kf_intro_des">
                  <div class="kf_intro_des_caption">
                    <span
                      ><i>
                        <fa-icon [icon]="['fas', 'laptop-code']"></fa-icon>
                      </i>
                    </span>
                    <h6>Génie Informatique et Mathématiques</h6>
                    <p>
                      Le département Génie Informatique et Mathématiques est l’un des quatre départements de l’INSAT.
                      Ses activités consistent à mobiliser et gérer les ressources nécessaires pour l’enseignement des
                      disciplines informatique et mathématiques durant le cursus des élèves ingénieurs de l’INSAT. Par
                      ailleurs, le département participe au développement de travaux de recherche, à la gestion des
                      stages et à la mise en place ainsi qu'au bon déroulement des mastères de recherche et
                      professionnels.<br />
                      Les filières sous la responsabilité du département sont :
                      <li style="flex-wrap: nowrap">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Génie Logiciel.
                      </li>
                      <li style="flex-wrap: nowrap">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Informatique Réseaux et Télécommunication.
                      </li>
                      <br />
                    </p>
                    <a routerLink="/insat/infmath" style="position: absolute; bottom: 0; left: 0; right: 0"
                      >Voir Plus</a
                    >
                  </div>
                </div>
                <!-- INTERO DES END-->
              </div>

              <div class="col-md-6 col-sm-12" style="margin-top: 5px">
                <!-- INTERO DES START-->
                <div class="kf_intro_des">
                  <div class="kf_intro_des_caption">
                    <span
                      ><i>
                        <fa-icon [icon]="['fas', 'microscope']"></fa-icon>
                      </i>
                    </span>
                    <h6>Génie Biologie et Chimie</h6>
                    <p>
                      Le Département de Génie Biologie et Chimie propose, après une année de tronc commun en Chimie -
                      Biologie Appliquée (CBA), le choix entre deux options, dans le cadre du cycle préparatoire intégré
                      :
                      <li style="flex-wrap: nowrap">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Biologie industrielle.
                      </li>
                      <li style="flex-wrap: nowrap">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                        Chimie Industrielle.
                      </li>
                      <br />
                    </p>
                    <a
                      routerLink="/insat/bioch"
                      sstyle="position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;"
                      >Voir Plus
                    </a>
                  </div>
                </div>
                <!-- INTERO DES END-->
              </div>

              <div class="col-md-6 col-sm-12" style="margin-top: 5px">
                <!-- INTERO DES START-->
                <div class="kf_intro_des">
                  <div class="kf_intro_des_caption">
                    <span><i class="icon-educational18"></i></span>
                    <h6>Sciences Sociales, Langues et Formation Générale</h6>
                    <p>
                      L’INSAT poursuit l’objectif ambitieux de donner à ses élèves une double formation, à la fois
                      technique et managérial. A ce titre, le département SSLFG adopte une approche pluridisciplinaire
                      et articule la formation qu’il propose autour de l’économie, de la gestion, du droit, de la
                      sociologie et des langues. Ces disciplines occupent une place tout à fait centrale dans la
                      formation de l’ingénieur.
                      <br />
                    </p>
                    <a routerLink="/insat/formgen" style="position: absolute; bottom: 0; left: 0; right: 0"
                      >Voir Plus
                    </a>
                  </div>
                </div>
                <!-- INTERO DES END-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--KF INTRO WRAP END-->
      <!--OUR TESTEMONIAL WRAP START Direction-->
      <section class="background_color">
        <div class="container">
          <div class="row">
            <!-- HEADING 2 START-->
            <div class="col-md-12">
              <div class="training_heading">
                <h4>Direction</h4>
              </div>
            </div>
            <!-- HEADING 2 END-->
            <!-- TESTEMONIAL SLIDER WRAP START-->
            <div class="edu2_testemonial_slider_wrap">
              <div id="owl-demo-99">
                <div class="item" *ngFor="let direction of directionMembers">
                  <!-- TESTEMONIAL SLIDER WRAP START-->
                  <div class="edu_testemonial_wrap">
                    <div class="kode-text-modified">
                      <h5>{{ direction.title }}<br /></h5>
                      <a>
                        {{ direction.responsable }} <br />
                        <span> - {{ direction.poste }}</span>
                      </a>
                      <p>
                        Email : <br />
                        <a href="mailto:{{ direction.email }}" style="font-size: 13px"> {{ direction.email }} </a>
                      </p>
                      Poste : <a>{{ direction.poste_code }}</a>
                    </div>
                  </div>
                  <!-- TESTEMONIAL SLIDER WRAP END-->
                </div>
              </div>
            </div>
            <!-- TESTEMONIAL SLIDER WRAP END-->
          </div>
        </div>
      </section>
      <!--OUR TESTEMONIAL WRAP END Direction -->
      <!--OUR TESTEMONIAL WRAP START Services Administratifs-->
      <section class="background_color">
        <div class="container">
          <div class="row">
            <!-- HEADING 2 START-->
            <div class="col-md-12">
              <div class="training_heading">
                <h4>Services Administratifs</h4>
              </div>
            </div>
            <!-- HEADING 2 END-->
            <!-- TESTEMONIAL SLIDER WRAP START-->
            <div class="edu2_testemonial_slider_wrap">
              <div id="owl-demo-999">
                <div class="item" *ngFor="let adminstratif of administrationMembers">
                  <!-- TESTEMONIAL SLIDER WRAP START-->
                  <div class="edu_testemonial_wrap">
                    <div class="kode-text-modified">
                      <h5>{{ adminstratif.title }}<br /></h5>
                      <a
                        >{{ adminstratif.responsable }}<br />
                        <span> - {{ adminstratif.poste }}</span>
                      </a>
                      <p>
                        Email : <br />
                        <a href="mailto:{{ adminstratif.email }}" style="font-size: 13px"> {{ adminstratif.email }} </a>
                      </p>
                      Poste : <a>{{ adminstratif.poste_code }}</a>
                    </div>
                  </div>
                  <!-- TESTEMONIAL SLIDER WRAP END-->
                </div>
              </div>
            </div>
            <!-- TESTEMONIAL SLIDER WRAP END-->
          </div>
        </div>
      </section>
      <!--OUR TESTEMONIAL WRAP END Services Administratifs -->
      <!-- FACULTY WRAP START-->
      <section>
        <div class="container">
          <div class="row">
            <!-- HEADING 1 START-->
            <div class="col-md-12">
              <div class="kf_edu2_heading1">
                <h3>GRANDS RENDEZ-VOUS</h3>
              </div>
            </div>
            <!-- HEADING 1 END-->

            <!-- FACULTY SLIDER WRAP START-->
            <div class="edu2_faculty_wrap">
              <div id="owl-demo-8" class="owl-carousel owl-theme">
                <div class="item" *ngFor="let item of rendezVous">
                  <!-- FACULTY DES START-->
                  <div class="edu2_faculty_des">
                    <figure style="height: 154.3px">
                      <img
                        style="object-fit: cover"
                        src="{{ filesUrl }}{{ item.photoUrl }}"
                        alt="../../assets/images/photos_insat/profKaus.jpg"
                      />
                    </figure>
                    <div class="edu2_faculty_des2" style="height: 215px">
                      <h6>
                        <a href="#">{{ getMonth(item.date) }} {{ getYear(item.date) }}</a>
                      </h6>

                      <strong>{{ item.name }} </strong>
                    </div>
                  </div>
                  <!-- FACULTY DES END-->
                </div>
              </div>
            </div>
            <!-- FACULTY SLIDER WRAP END-->
          </div>
        </div>
      </section>
      <!-- FACULTY WRAP START-->

      <section>
        <div class="container">
          <!-- Acces INSAT START -->
          <div class="row">
            <div class="col-md-12">
              <div class="contact_2_headung">
                <h3>ACCÈS INSAT</h3>
                <p>
                  Pour accèder à l'INSAT, vous pouvez empreinter le métro (ligne 2) reliant Tunis (station de la
                  République) à Ariana, et descendre à la station "El Fell", qui est à 200 métres de l'Institut. Sinon,
                  le Bus numéro 35 B, peut faire l'affaire, il relie Tunis (Station du TGM) à Ariana, il vous déposera
                  juste devant le portail de l'INSAT.
                </p>
              </div>
            </div>
          </div>
          <!-- Acces INSAT END-->
          <!-- Docs INSAT START -->
          <div class="row">
            <div class="col-md-12">
              <div class="contact_2_headung">
                <h3>Documents Administratifs</h3>
                <p>
                  <li *ngFor="let doc of docsAdmin">
                    <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                    <a
                      (click)="openPdf(doc.url)"
                      href="JavaScript:Void(0);"
                      style="color: #777777; text-align: right"
                      >{{ doc.name }}</a
                    >
                  </li>
                </p>
              </div>
            </div>
          </div>
          <!-- Docs INSAT END-->
        </div>
      </section>
    </div>

    <!--Content Wrap End-->
  </div>
  <!--KF KODE WRAPPER WRAP END-->
</body>
