<div class="kf_inr_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--KF INR BANNER DES Wrap Start-->
        <div class="kf_inr_ban_des">
          <div class="inr_banner_heading">
            <h3 style="color: white">Brevets d'invention</h3>
          </div>

          <div class="kf_inr_breadcrumb">
            <ul>
              <li><a href="#">Recherche</a></li>
              <li><a href="#">Brevets d'invention</a></li>
            </ul>
          </div>
        </div>
        <!--KF INR BANNER DES Wrap End-->
      </div>
    </div>
  </div>
</div>
<div class="kf_content_wrap" xmlns="http://www.w3.org/1999/html">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Demandes de Brevets d’Inventions Déposées à l’INNORPI par l’INSAT</h3>
          <div class="study_table_wrap d-flex justify-content-center">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Numéro de dépôt</th>
                  <th>Date de dépôt</th>
                  <th>Numéro d’enregistrement</th>
                  <th>Date d’enregistrement</th>
                  <th>Inventeurs</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let brevet of brevets">
                  <td>{{ brevets.indexOf(brevet) + 1 }}</td>
                  <td>{{ brevet.numeroDepot }}</td>
                  <td>{{ brevet.dateDepot }}</td>
                  <td>{{ brevet.numeroEnregistrement }}</td>
                  <td>{{ brevet.dateEnregistrement }}</td>
                  <td>
                    <span *ngFor="let inventeur of brevet.inventeurs">
                      {{ inventeur.name | titlecase }} {{ inventeur.lastName | titlecase }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
