<body>
  <!--KF KODE WRAPPER WRAP START-->
  <div class="kode_wrapper">
    <!--Banner Wrap Start-->
    <div class="kf_inr_banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--KF INR BANNER DES Wrap Start-->
            <div class="kf_inr_ban_des">
              <div class="inr_banner_heading">
                <h3>Formation à Distance</h3>
              </div>

              <div class="kf_inr_breadcrumb">
                <ul>
                  <li><a href="JavaScript:Void(0);">Formation</a></li>
                  <li><a href="/formation/formation-a-distance">Formation à Distance</a></li>
                </ul>
              </div>
            </div>
            <!--KF INR BANNER DES Wrap End-->
          </div>
        </div>
      </div>
    </div>

    <!--Banner Wrap End-->

    <!--Content Wrap Start-->
    <div class="kf_content_wrap">
      <section>
        <div class="container">
          <!-- Cursus Formation START -->
          <div class="row">
            <div class="col-md-12">
              <div class="contact_2_headung">
                <h3>Mastère professionnel e-services international</h3>
                <p>
                  Le mastère e-services international est un master professionnel à distance à double compétence,
                  informatique et gestion, destiné aux cadres et futurs cadres qui auront à mener des projets
                  internationaux dans le domaine des e-Services. Ce master a été le fruit d'une collaboration entre le
                  CUEEP (Université de Lille 1) France, l'Institut d'informatique de la Facultés universitaires Notre
                  Dame de la Paix (Namur, Belgique), l'Université Saint-Joseph (Beyrouth, Liban), l'Université à
                  Carthage (Tunisie) et a été financé pour sa première promotion par le programme Tempus de l'Union
                  Européenne.
                </p>
              </div>
            </div>
          </div>
          <!-- Docs INSAT END-->
          <!-- Acces INSAT START -->
          <div class="row">
            <div class="col-md-12">
              <div class="contact_2_headung">
                <ul style="color: #000000 ;">
                  <li>
                    <p style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      Public cible
                    </p>
                    <p>
                      Notre formation s'adresse à deux types de profils de public : un public ayant de très bonnes
                      compétences en informatique ; un public ayant des très bonnes compétence en gestion avec des bases
                      en informatique.
                    </p>
                    <p>
                      A des professionnel(le)s inscrit(e)s dans la vie active ayant un bac +4 travaillant dans le
                      domaine des services (commerce, banques, gouvernement, tourisme, formation, administration) ayant
                      le souci de se perfectionner dans le cadre de la formation tout au long de la vie.
                    </p>
                    <p>
                      Aux étudiant (e)s de niveau bac+ 4 en formation initiale de 7formation ingénieur ou gestionnaires
                    </p>
                    <p>
                      Ainsi e-services international s'adresse tout autant à des informaticiens qu'à des gestionnaires
                      auxquels il propose 2 parcours de formation spécifiques tout en créant les conditions de mixité,
                      de confrontation, de résolution collective de problèmes entre technologues et managers.
                    </p>

                    <br />
                  </li>
                  <li>
                    <p style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      Objectifs de la formation
                    </p>
                    <p>
                      Dans un environnement mondial de plus en plus concurrentiel et avec la montée en puissance des
                      apports de la technologie dans le monde des affaires, de nouveaux métiers émergent. Nous proposons
                      une formation qui permettra aux cadres des entreprises utilisant partiellement ou totalement la
                      technologie Internet de s'y intégrer tant au niveau de chef de projet informatique ou de manager
                      de département voir même de l'entreprise.
                    </p>
                    <p>
                      Il s'agit d'une formation spécialisée dans la dimension conception des systèmes de Front-office,
                      avec un accent important sur le développement pour l'usage avec la prise en compte des dimensions
                      ergonomiques, cognitives, médiatiques et sociales.
                    </p>
                    <p>
                      La formation a aussi pour objectif de donner des connaissances et des compétences opérationnelles
                      en matière de conception de systèmes d'information des organisations (publics ou privées) dans les
                      perspectives stratégiques des nouvelles formes d'intermédiation (par exemple : les places de
                      marché électroniques, la Gestion de la Relation Client avec la E-CRM...) ou de partenariats
                      inter-organisationnels (Workflows, EDI), et de transformation sous l'impact des TIC des chaînes de
                      valeurs et des modes transactionnels.
                    </p>

                    <br />
                  </li>
                  <li>
                    <p style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      Dispositif de formation
                    </p>
                    <p>
                      <strong>Domaines d'application ou usages</strong>
                    </p>
                    <p>
                      Ce master e-SI vise la formation des futurs professionnels du domaine de e-Services Interactifs,
                      c'est-à-dire utilisant le potentiels des STIC (dont l'Internet et les réseaux de communications
                      mobiles), dans de nombreux domaines marchands (B-to-C et B-to-B) ou non.
                    </p>
                    <p>
                      Il vise plus particulièrement le développement international des e-Services tant dans la dimension
                      conduite de projets dans un contexte international (partenariat, affiliation, offshore) que dans
                      la dimension ouverture multilinguistique et multiculturelle de e-Services à destination du grand
                      public.
                    </p>
                    <p><strong>Technologies ou outils technologiques utilisés</strong></p>
                    <p>Il convient de distinguer :</p>
                    <p>
                      Les nombreuses technologies qui feront l'objet de l'enseignement et qui seront mobilisées au sein
                      de la plate-forme technologique pour les travaux pratiques et les projets étudiants. Sans être
                      exhaustif on peut mentionner les technologies avancées de réseaux sur Internet et réseaux
                      sans-fils, les nouvelles technologies pour l'interaction Homme-Machine (Web multicanal et
                      multimodal, Réalité Virtuelle ou Augmentées) les Architectures Logicielles Distribuées et
                      inter-applicatives (Middleware, Web Services, SOA, EAI…) les technologies pour la recherche et le
                      traitement des données (datawarehouse, datamining et Web sémantique…) et les technologies
                      spécifiques du e-Commerce (plates-formes technologiques, outils de gestion de la relation client,
                      ERP, Portail Corporate, places de marché électroniques, et e-Procurement, etc.);
                      <br />
                    </p>
                    <p>
                      Les technologies mobilisées pour le support à l'e-Formation : plates-formes dites de Learning
                      Management Systems, outils pour l'apprentissage coopératif assisté par ordinateur, standards
                      technologiques proposés par les consortiums IEEE (LOM), IMS (IMS-LD), ADL (SCORM).
                    </p>

                    <br />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Acces INSAT END-->
        </div>
      </section>
    </div>
    <!--Content Wrap End-->
  </div>
  <!--KF KODE WRAPPER WRAP END-->
</body>
