<!--Banner Wrap Start-->
<div class="kf_inr_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--KF INR BANNER DES Wrap Start-->
                <div class="kf_inr_ban_des">
                    <div class="inr_banner_heading">
                        <h3>Génie Physique et Instrumentation</h3>
                    </div>
                   
                    <div class="kf_inr_breadcrumb">
                        <ul>
                            <li><a href="/insat/">A propos de l'INSAT</a></li>
                            <li><a href="/insat/phyins">Génie Physique et Instrumentation</a></li>
                        </ul>
                    </div>
                </div>
                <!--KF INR BANNER DES Wrap End-->
            </div>
        </div>
    </div>
</div>

<!--Banner Wrap End-->

<!--Content Wrap Start-->
<div class="kf_content_wrap">
    <section>
         <div class="container">
             <div class="row">
                 <div class="col" style="max-width: 90%; margin-left: auto; margin-right: auto;">

                     <!-- COURSES DETAIL WRAP START -->
                     <div class="kf_courses_detail_wrap">
                         <div class="courses_detail_heading">
                             <h4>Département de Génie Physique et Instrumentation</h4>
                         </div>

                         <div class="course_detail_thumbnail">
                             <figure>
                                 <img class="img-fluid" src="../../../assets/extra-images/course-thumbnail.jpg" alt=""/>
                                 
                             </figure>
                         </div>

                         <!-- COURSES DETAIL TABS WRAP START -->
                         <div class="kf_courses_tabs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#coursedetails" aria-controls="coursedetails" role="tab" data-toggle="tab">Course Details</a></li>
                                <li role="presentation"><a href="#coursestructure" aria-controls="coursestructure" role="tab" data-toggle="tab">Course Structure</a></li>
                                <li role="presentation"><a href="#entryrequirment" aria-controls="entryrequirment" role="tab" data-toggle="tab">Entry Requirment</a></li>
                                <li role="presentation"><a href="#placements" aria-controls="placements" role="tab" data-toggle="tab">Placements</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="coursedetails">

                                    <!-- COURSES DETAIL DES START -->
                                    <div class="kf_courses_detail_des">
                                        <div class="course_heading">
                                            <h3>Course Details</h3>
                                        </div>
                                        <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquet per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                                        <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque</p>
                                    </div>
                                    <!-- COURSES DETAIL DES END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap">
                                        <h6>Study Options</h6>
                                        <!--  TABLE  START -->
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Qualification</th>
                                                    <th>Length</th>
                                                    <th>Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Bsc (Hons)</td>
                                                    <td>3 years full time</td>
                                                    <td>CDX3</td>
                                                </tr>
                                                <tr>
                                                    <td>Bsc </td>
                                                    <td>4 years full time</td>
                                                    <td>CDX4</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--  TABLE  END -->
                                        <h6>English Education Modules</h6>
                                        <p>Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque fermentum feugiat velit.</p>
                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap">
                                        <h6>Projects & Research Intrests</h6>

                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos. </p>

                                        <p><b>Nam nec tellus a odio tincidunt :</b> auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit.</p>

                                        <p><b>Excepteur sint occaecat cupidatat non : </b>auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.This is Photoshop's version  of Lorem Ipsum.</p>

                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap border_none">
                                        <h6>Student’s Destinations</h6>
                                        <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque</p>

                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                </div>

                                <div role="tabpanel" class="tab-pane" id="coursestructure">

                                    <!-- COURSES DETAIL DES START -->
                                    <div class="kf_courses_detail_des">
                                        <div class="course_heading">
                                            <h3>Course Structure</h3>
                                        </div>
                                        <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquet per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                                        <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque</p>
                                    </div>
                                    <!-- COURSES DETAIL DES END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap">
                                        <h6>Study Options</h6>
                                        <!--  TABLE  START -->
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Qualification</th>
                                                    <th>Length</th>
                                                    <th>Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Bsc (Hons)</td>
                                                    <td>3 years full time</td>
                                                    <td>CDX3</td>
                                                </tr>
                                                <tr>
                                                    <td>Bsc </td>
                                                    <td>4 years full time</td>
                                                    <td>CDX4</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--  TABLE  END -->
                                        <h6>English Education Modules</h6>
                                        <p>Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque fermentum feugiat velit.</p>
                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap">
                                        <h6>Projects & Research Intrests</h6>

                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos. </p>

                                        <p><b>Nam nec tellus a odio tincidunt :</b> auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit.</p>

                                        <p><b>Excepteur sint occaecat cupidatat non : </b>auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.This is Photoshop's version  of Lorem Ipsum.</p>

                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap border_none">
                                        <h6>Student’s Destinations</h6>
                                        <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque</p>

                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                </div>

                                <div role="tabpanel" class="tab-pane" id="entryrequirment">

                                    <!-- COURSES DETAIL DES START -->
                                    <div class="kf_courses_detail_des">
                                        <div class="course_heading">
                                            <h3>Entry Requirment</h3>
                                        </div>
                                        <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquet per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                                        <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque</p>
                                    </div>
                                    <!-- COURSES DETAIL DES END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap">
                                        <h6>Study Options</h6>
                                        <!--  TABLE  START -->
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Qualification</th>
                                                    <th>Length</th>
                                                    <th>Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Bsc (Hons)</td>
                                                    <td>3 years full time</td>
                                                    <td>CDX3</td>
                                                </tr>
                                                <tr>
                                                    <td>Bsc </td>
                                                    <td>4 years full time</td>
                                                    <td>CDX4</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--  TABLE  END -->
                                        <h6>English Education Modules</h6>
                                        <p>Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque fermentum feugiat velit.</p>
                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap">
                                        <h6>Projects & Research Intrests</h6>

                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos. </p>

                                        <p><b>Nam nec tellus a odio tincidunt :</b> auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit.</p>

                                        <p><b>Excepteur sint occaecat cupidatat non : </b>auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.This is Photoshop's version  of Lorem Ipsum.</p>

                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap border_none">
                                        <h6>Student’s Destinations</h6>
                                        <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque</p>

                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                </div>

                                <div role="tabpanel" class="tab-pane" id="placements">

                                    <!-- COURSES DETAIL DES START -->
                                    <div class="kf_courses_detail_des">
                                        <div class="course_heading">
                                            <h3>Placements</h3>
                                        </div>
                                        <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquet per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                                        <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque</p>
                                    </div>
                                    <!-- COURSES DETAIL DES END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap">
                                        <h6>Study Options</h6>
                                        <!--  TABLE  START -->
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Qualification</th>
                                                    <th>Length</th>
                                                    <th>Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Bsc (Hons)</td>
                                                    <td>3 years full time</td>
                                                    <td>CDX3</td>
                                                </tr>
                                                <tr>
                                                    <td>Bsc </td>
                                                    <td>4 years full time</td>
                                                    <td>CDX4</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--  TABLE  END -->
                                        <h6>English Education Modules</h6>
                                        <p>Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque fermentum feugiat velit.</p>
                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap">
                                        <h6>Projects & Research Intrests</h6>

                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos. </p>

                                        <p><b>Nam nec tellus a odio tincidunt :</b> auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis sem nibh id elit.</p>

                                        <p><b>Excepteur sint occaecat cupidatat non : </b>auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.This is Photoshop's version  of Lorem Ipsum.</p>

                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                    <!-- STUDY TABLE WRAP START -->
                                    <div class="study_table_wrap border_none">
                                        <h6>Student’s Destinations</h6>
                                        <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam ut aliquam massa nisl quis neque</p>

                                    </div>
                                    <!-- STUDY TABLE WRAP END -->

                                </div>

                            </div>
                         </div>
                         <!-- COURSES DETAIL TABS WRAP END -->
                        
                        <div class="blog_thumb_wrap">
                            <div class="study_table_wrap">
                                <h6>Course Gallery</h6>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 ">
                                    <figure>
                                        <img alt="" src="extra-images/blog_detail1.jpg">
                                        <figcaption><a href="#"><i class="fa fa-search"></i></a></figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <figure>
                                        <img alt="" src="extra-images/blog_detail2.jpg">
                                        <figcaption><a href="#"><i class="fa fa-search"></i></a></figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <figure>
                                        <img alt="" src="extra-images/blog_detail3.jpg">
                                        <figcaption><a href="#"><i class="fa fa-search"></i></a></figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-4 ">
                                    <figure>
                                        <img alt="" src="extra-images/blog_detail4.jpg">
                                        <figcaption><a href="#"><i class="fa fa-search"></i></a></figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <figure>
                                        <img alt="" src="extra-images/blog_detail5.jpg">
                                        <figcaption><a href="#"><i class="fa fa-search"></i></a></figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <figure>
                                        <img alt="" src="extra-images/blog_detail6.jpg">
                                        <figcaption><a href="#"><i class="fa fa-search"></i></a></figcaption>
                                    </figure>
                                </div>
                            </div>
                            <p class="margin-bottom">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. </p>
                        </div>
                        
                        <!--KF_BLOG DETAIL_DES END-->

                        <!--KF_BLOG ABOUT AUTHOR START-->
                        <div class="about_autor">
                            <figure><img src="extra-images/author.jpg" alt=""></figure>
                            <div class="about-autor_des">
                                <h6><a href="#">Alfred Marshal</a></h6>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum quis bibendum.</p>
                                <ul class="autor_social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--KF_BLOG ABOUT AUTHOR END-->

                     </div>
                     <!-- COURSES DETAIL WRAP END -->
                 </div>

               
             </div>
         </div>
     </section>
</div>
<!--Content Wrap End-->