<div class="kf_inr_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--KF INR BANNER DES Wrap Start-->
        <div class="kf_inr_ban_des">
          <div class="inr_banner_heading">
            <h3 style="color: white">Dépot de dossier de thése</h3>
          </div>

          <div class="kf_inr_breadcrumb">
            <ul>
              <li><a href="#">Recherche</a></li>
              <li><a href="#">Dépot de dossier de thése</a></li>
            </ul>
          </div>
        </div>
        <!--KF INR BANNER DES Wrap End-->
      </div>
    </div>
  </div>
</div>
<div class="kf_content_wrap" xmlns="http://www.w3.org/1999/html">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="kf_courses_detail_des">
            Tous les formulaires pour le dépôt de dossier de thèse de doctorat sont disponibles sur le site web de
            l’INSAT <a STYLE="color: #777777 font-weight: bold" href="http://www.insat.rnu.tn">(www.insat.rnu.tn)</a>
          </div>
          <div class="kf_courses_detail_des">
            <h3>A. Conditions de dépôt de thèse en vue de la soutenance</h3>
            <p>L'étudiant(e) dépose un dossier de soutenance de thèse si les conditions suivantes sont respectées:</p>
            <ul class="circle">
              <li>Trois (03) inscriptions au moins en thèse de doctorat</li>
              <li>
                Le candidat a publié au moins un article en tant que 1er auteur dans un journal impacté Thomson Reuters
                (ISI Thomson) ou indexé à Scopus, issu de ses travaux de recherche de doctorat(1)
              </li>
              <li>
                Le candidat a capitalisé les 30 points de crédits relatifs à la formation complémentaire durant sa
                thèse.
              </li>
            </ul>
            <div class="kf_courses_detail_des">
              <h3>B. Dossier scientifique</h3>
              <p>L'étudiant(e) doit déposer un dossier contenant :</p>
              <ol>
                <li>Trois copies du manuscrit de la thèse avec deux copies électroniques.</li>
                <li>Trois copies des articles en relation avec sa thèse avec deux copies électroniques .</li>
                <li>Un rapport sur les travaux du doctorat signé par le directeur de thèse.</li>
                <li>
                  Le formulaire de «
                  <a
                    (click)="openPdf('assets/upload/autorisatio_soutenance_these.pdf')"
                    href="JavaScript:Void(0);"
                    style="color: #777777; text-align: right; font-weight: bold"
                    >Demande d’autorisation de soutenance de thèse</a
                  >
                  » dûment rempli et signé.
                </li>
                <li>
                  Un rapport d’analyse «
                  <a
                    (click)="openPdf('')"
                    href="JavaScript:Void(0);"
                    style="color: #777777; text-align: right; font-weight: bold"
                  >
                    anti-plagiat</a
                  >
                  » avec le logiciel « URKUND » signé par le directeur de thèse.
                </li>
                <li>Les attestations de validation de la formation complémentaire avec le formulaire rempli.</li>
                <li>Une copie des inscriptions en Thèse.</li>
                <li>Une copie de tous les diplômes .</li>
                <li>Une copie des rapports d'avancement de thèse de chaque année.</li>
                <li>Charte universitaire signée.</li>
              </ol>
              <p>
                <b>N.B :</b>Pour les candidats inscrits en thèses en cotutelles, les conditions de soutenances, à partir
                de l'année universitaire 2018-2019 seront convenues en commun accord avec les parties contractantes des
                conventions.
              </p>
            </div>
            <div class="kf_courses_detail_des">
              <h3>C. Démarches à suivre pour la soutenance de thèse</h3>
              <ul class="circle">
                <li>
                  Le manuscrit déposé est mis pendant un mois à la disposition des enseignants au secrétariat du
                  département d’affiliation de la thèse concernée.
                </li>
                <li>
                  La commission de thèse se réunit en présence d’au moins de la moitié de ses membres (décret 4 Janvier
                  2013, N° 2013-47) après un mois (de la date de dépôt) pour valider la recevabilité de la thèse et
                  désigner deux rapporteurs (Corps A) n’appartenant pas à la structure de recherche accueillant
                  l'étudiant(e). Il est important de noter qu'au minimum l'un des rapporteurs doit d’être de l’extérieur
                  de l’INSAT (décret 4 Janvier 2013, N° 2013-47).
                </li>
                <li>
                  Les rapporteurs sont tenus d’envoyer leurs rapports dans un délai ne dépassant pas
                  <strong>un mois</strong> au directeur de l’INSAT par courrier ou par fax. La commission des thèses se
                  réunit dans un délai de 15 jours (de la date de remise des rapports) pour lire les rapports et fixer
                  le jury de soutenance.
                </li>
                <li>
                  Le président de jury de soutenance doit être un Professeur de l’Enseignement Supérieur appartenant à
                  l’INSAT. De plus, deux membres de jury, au moins , doivent appartenir au grade de Professeur de
                  l’Enseignement Supérieur.
                </li>
                <li>
                  Le président de jury fixe, en commun accord avec les différents membres de jury, la date de la
                  soutenance, une semaine, au maximum, après la date de désignation du jury et il en informe, par écrit,
                  le directeur de l’INSAT.
                </li>
                <li>
                  Un Procès Verbal de la soutenance de thèse doit être signé par tous les membres de jury et remis au
                  secrétariat de l’Ecole Doctorale après les délibérations.
                </li>
              </ul>
            </div>
            <div class="kf_courses_detail_des">
              <p><b>Veuillez télécharger le fichiers ci_dessous:</b></p>
              <ul class="circle">
                <li>
                  <a
                    (click)="openPdf('assets/upload/autorisatio_soutenance_these.pdf')"
                    href="JavaScript:Void(0);"
                    style="color: #777777; text-align: right; font-weight: bold"
                    >Demande d’autorisation de soutenance de thèse</a
                  >
                </li>
                <li>
                  <a
                    (click)="openPdf('')"
                    href="JavaScript:Void(0);"
                    style="color: #777777; text-align: right; font-weight: bold"
                    >Rapport d'anti-plagiat</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
