<!--HEADER START-->
<header id="header_2">
  <!--kode navigation start-->
  <div class="kode_navigation">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <div class="logo_wrap">
                <a routerLink="/"><img src="../assets/images/logo.png" alt="" routerLink="/" /></a>
              </div>
            </div>
            <div class="col-md-11">
              <!--kode nav_2 start-->
              <div class="nav_2" id="navigation">
                <ul>
                  <li><a routerLink="/">Accueil</a></li>
                  <li><a routerLink="/insat">A propos</a></li>
                  <li><a routerLink="/insat/nouveautes">Nouveautés</a></li>
                  <li><a routerLink="/insat/clubs">Clubs</a></li>
                  <li><a routerLink="/insat/evenments">Evénments</a></li>

                  <li>
                    <a href="JavaScript:Void(0);">Formation</a>
                    <ul>
                      <li><a routerLink="/formation/prepa">Cycle préparatoire intégré</a></li>
                      <li><a routerLink="/formation/ing">Diplôme d'ingénieur</a></li>
                      <li><a routerLink="/formation/la">Licences Appliquées</a></li>
                      <li><a routerLink="/formation/mastere">Mastères Professionelles</a></li>
                      <li><a routerLink="/formation/formation-a-distance">Formation à Distance</a></li>
                      <li><a routerLink="/formation/samsung">SAMSUNG Academy</a></li>
                      <li><a routerLink="/formation/4c">Centre 4C</a></li>
                      <li><a href="JavaScript:Void(0);" (click)="openPdf(cellule)">Cellule Qualité</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="JavaScript:Void(0);">scolarité</a>
                    <ul>
                      <li><a routerLink="/insat/emplois">Les emplois du temps</a></li>
                    </ul>
                  </li>
                  <li>
                    <a routerLink="/relations-externes">Relations Externes</a>
                  </li>
                  <li>
                    <a href="JavaScript:Void(0);">Recherche</a>
                    <ul>
                      <li><a routerLink="/insat/recherche/ecole-doctorale">Ecole Doctorale</a></li>
                      <li>
                        <a routerLink="/insat/recherche/laboratiores-recherche">Laboratoires & Unités de Recherche</a>
                      </li>
                      <li>
                        <a routerLink="/insat/recherche/formation-complementaire-lmd"
                          >Formation Complementaire Doctorat LMD</a
                        >
                      </li>
                      <li><a routerLink="/insat/recherche/inscription-these">Inscrition Thése</a></li>
                      <li><a routerLink="/insat/recherche/depot-dossier-these">Dépot de dossier de thése</a></li>
                      <li><a routerLink="/insat/recherche/dossier-mission-stage">Dossier Mission ou Stage</a></li>
                      <li>
                        <a routerLink="/insat/recherche/collaboration-internationnalles"
                          >Collaboration internationnalles</a
                        >
                      </li>
                      <li><a routerLink="/insat/recherche/brevets">Brevets d'invetions</a></li>
                      <li><a routerLink="/insat/recherche/production-scientifique">Productions Scientifiques</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="/espace-etudiant">espace etudiant</a></li>
                </ul>
              </div>
              <!--kode nav_2 end-->
            </div>
            <!--DL Menu END-->
          </div>
          <!--kode nav_2 end-->
        </div>
      </div>
      <!--DL Menu END-->
    </div>
    <!--kode nav_2 end-->
  </div>

  <!--kode navigation end-->
</header>
<!--HEADER END-->
<router-outlet> </router-outlet>

<!--FOOTER START-->
<footer>
  <!--EDU2 FOOTER CONTANT WRAP START-->
  <div class="container">
    <div class="row">
      <!--EDU2 FOOTER CONTANT DES START-->
      <div class="col-md-3">
        <div class="widget widget-links">
          <h5>Information</h5>
          <ul>
            <li><a routerLink="/insat">A propos </a></li>
            <li><a routerLink="/insat/evenments">Les nouveautés</a></li>
          </ul>
        </div>
      </div>
      <!--EDU2 FOOTER CONTANT DES END-->

      <!--EDU2 FOOTER CONTANT DES START-->
      <div class="col-md-3">
        <div class="widget widget-links">
          <h5>Aide Etudiant</h5>
          <ul>
            <li><a routerLink="#">Espace étudiant</a></li>
            <li><a routerLink="#">Calendrier pédagogique</a></li>
            <li><a routerLink="/insat/emplois">Emplois de temps</a></li>
          </ul>
        </div>
      </div>
      <!--EDU2 FOOTER CONTANT DES END-->

      <!--EDU2 FOOTER CONTANT DES START-->
      <div class="col-md-3">
        <div class="widget wiget-instagram">
          <h5>Facebook</h5>
          <ul>
            <li>
              <a href="#"><img src="../assets/extra-images/nouveauté1.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="../assets/extra-images/instagram-2.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="../assets/extra-images/instagram-3.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="../assets/extra-images/instagram-4.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="../assets/extra-images/instagram-5.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="../assets/extra-images/instagram-6.jpg" alt="" /></a>
            </li>
          </ul>
        </div>
      </div>
      <!--EDU2 FOOTER CONTANT DES END-->

      <!--EDU2 FOOTER CONTANT DES START-->
      <div class="col-md-3">
        <div class="widget widget-contact">
          <h5>Contact</h5>
          <ul>
            <li>INSAT Institut National des Sciences Appliquées et de Technologie Centre Urbain Nord BP 676-1080</li>
            <li>Téléphone : <a href="#"> (+216) 71 703 829 </a></li>
            <li>Fax : <a href="#"> (+216) 71 704 329</a></li>
            <li>Email : <a href="#"> direction@insat.u-carthage.tn</a></li>
          </ul>
        </div>
      </div>
      <!--EDU2 FOOTER CONTANT DES END-->
    </div>
  </div>
</footer>
<!--FOOTER END-->
