<!--HEADER START-->
<header id="header_2">
    		
    <!--kode navigation start-->
    <div class="kode_navigation">
        <div id="mobile-header">
            <a id="responsive-menu-button" href="#sidr-main"><i class="fa fa-bars"></i></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo_wrap">
                        <a href="#"><img src="../assets/images/logo.png" alt="" routerLink="/"></a>
                    </div>
                </div>
                <div class="col-md-10">
                    <!--kode nav_2 start-->
                    <div class="nav_2" id="navigation">
                        <ul>
                            <li><a routerLink="/">home</a></li>
                            <li><a routerLink="/insat">About Us</a></li>
                            <li><a href="#">Event</a>
                                <ul>
                                    <li><a href="our-event.html">our Event</a></li>
                                    <li><a href="event-list.html">Event List</a></li>
                                    <li><a href="event-detail.html">Event Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul>
                                    <li><a href="our-blog.html">our Blog</a></li>
                                    <li><a href="blog-2-column.html">blog 2 column</a></li>
                                    <li><a href="blog-3-column.html">blog 3 column</a></li>
                                    <li><a href="blog-left-sidebar.html">blog with left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">blog with right sidebar</a></li>
                                    <li><a href="blog-detail.html">blog-detail</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Course</a>
                                <ul>
                                    <li><a href="our-courses.html">Our Course</a></li>
                                    <li><a href="courses-list.html">Course List</a></li>
                                    <li><a href="courses-detail.html">Course Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Teacher</a>
                                <ul>
                                    <li><a href="our-teacher.html">Our Teacher</a></li>
                                    <li><a href="our-teacher-details.html">our teacher details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Gallery</a>
                                <ul>
                                    <li><a href="gallery-masonary-2col.html">Masonary 2 Col </a></li>
                                    <li><a href="gallery-masonary.html">Masonary 3 Col </a></li>
                                    <li><a href="gallery-masonary-4col.html">Masonary 4 Col </a></li>
                                    <li><a href="filterable-gallery.html">Simple gallery</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Contact US</a>
                                <ul>
                                    <li><a href="contactus.html">Contact Us 1</a></li>
                                    <li><a href="contactus-2.html">Contact Us 2</a></li>
                                </ul>
                            </li>
                              </ul>
                        <!--DL Menu Start-->
                        <div id="kode-responsive-navigation" class="dl-menuwrapper">
                            <button class="dl-trigger">Open Menu</button>
                            <ul class="dl-menu">
                                <li><a href="index-2.html">home</a></li>
                                <li><a href="about-us.html">about us</a></li>
                                <li class="menu-item kode-parent-menu"><a href="#">Event</a>
                                    <ul class="dl-submenu">
                                       <li><a href="our-event.html">our Event</a></li>
                                        <li><a href="event-list.html">Event List</a></li>
                                        <li><a href="event-detail.html">Event Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Blog</a>
                                    <ul class="dl-submenu">
                                        <li><a href="our-blog.html">our Blog</a></li>
                                        <li><a href="blog-2-column.html">blog 2 column</a></li>
                                        <li><a href="blog-3-column.html">blog 3 column</a></li>
                                        <li><a href="blog-left-sidebar.html">blog with left sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">blog with right sidebar</a></li>
                                        <li><a href="blog-detail.html">blog-detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Course</a>
                                    <ul class="dl-submenu">
                                        <li><a href="our-courses.html">Our Course</a></li>
                                        <li><a href="courses-list.html">Course List</a></li>
                                        <li><a href="courses-detail.html">Course Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Teacher</a>
                                    <ul class="dl-submenu">
                                        <li><a href="our-teacher.html">Our Teacher</a></li>
                                        <li><a href="our-teacher-details.html">our teacher details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Gallery</a>
                                    <ul class="dl-submenu">
                                        <li><a href="gallery-masonary-2col.html">Masonary 2 Col </a></li>
                                        <li><a href="gallery-masonary.html">Masonary 3 Col </a></li>
                                        <li><a href="gallery-masonary-4col.html">Masonary 4 Col </a></li>
                                        <li><a href="filterable-gallery.html">Simple gallery</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">404 Page</a>
                                    <ul class="dl-submenu">
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Contact US</a>
                                    <ul class="dl-submenu">
                                        <li><a href="contactus.html">Contact Us 1</a></li>
                                        <li><a href="contactus-2.html">Contact Us 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--DL Menu END-->
                    </div>
                    <!--kode nav_2 end-->
                </div>
            </div>
        </div>
    </div>
    <!--kode navigation end-->
</header>
<!--HEADER END-->

<router-outlet> </router-outlet>

	<!--FOOTER START-->
    <footer>
        <!--EDU2 FOOTER CONTANT WRAP START-->
            <div class="container">
                <div class="row">
                    <!--EDU2 FOOTER CONTANT DES START-->
                    <div class="col-md-3">
                        <div class="widget widget-links">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Stories</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Our History</a></li>
                                <li><a href="#">Sprcialist Info</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--EDU2 FOOTER CONTANT DES END-->

                    <!--EDU2 FOOTER CONTANT DES START-->
                    <div class="col-md-3">
                        <div class="widget widget-links">
                            <h5>Student Help</h5>
                            <ul>
                                <li><a href="#">My Info</a></li>
                                <li><a href="#">My Questions</a></li>
                                <li><a href="#">F.A.Q</a></li>
                                <li><a href="#">Serch Courses</a></li>
                                <li><a href="#">Latest Informations</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--EDU2 FOOTER CONTANT DES END-->

                    <!--EDU2 FOOTER CONTANT DES START-->
                    <div class="col-md-3">
                        <div class="widget wiget-instagram">
                            <h5>Instagram</h5>
                            <ul>
                                <li><a href="#"><img src="../assets/extra-images/instagram-1.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="../assets/extra-images/instagram-2.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="../assets/extra-images/instagram-3.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="../assets/extra-images/instagram-4.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="../assets/extra-images/instagram-5.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="../assets/extra-images/instagram-6.jpg" alt=""/></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--EDU2 FOOTER CONTANT DES END-->

                    <!--EDU2 FOOTER CONTANT DES START-->
                    <div class="col-md-3">
                        <div class="widget widget-contact">
                            <h5>Contact</h5>
                            <ul>
                                <li>PO Box UN152468, 1 Street North, New Towm, California, USA</li>
                                <li>Phone : <a href="#"> 5 (012) 4565 789</a></li>
                                <li>Fax : <a href="#"> 5 (012) 4565 789</a></li>
                                <li>Email : <a href="#"> Info@info.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--EDU2 FOOTER CONTANT DES END-->
                </div>
            </div>
    </footer>
    <!--FOOTER END-->
  