<div class="kf_inr_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--KF INR BANNER DES Wrap Start-->
        <div class="kf_inr_ban_des">
          <div class="inr_banner_heading">
            <h3>Inscription en thése {{ anneeScolaire }}</h3>
          </div>

          <div class="kf_inr_breadcrumb">
            <ul>
              <li><a href="#">Recherche</a></li>
              <li>
                <a href="#">Inscription en thése {{ anneeScolaire }}</a>
              </li>
            </ul>
          </div>
        </div>
        <!--KF INR BANNER DES Wrap End-->
      </div>
    </div>
  </div>
</div>
<div class="kf_content_wrap" xmlns="http://www.w3.org/1999/html">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="kf_courses_detail_des">
            Critères pour l’inscription en Ecole Doctorale «SCIENCES et TECHNOLOGIES de L’INGENIEUR».
          </div>
          <div class="kf_courses_detail_des">
            <h3>A. Inscription</h3>
            <p>
              Tous les formulaires d’inscription (1ère inscription et renouvellement) en thèse sont disponibles sur le
              site web de l’INSAT
              <a STYLE="color: #777777; font-weight: bold" href="http://www.insat.rnu.tn">(www.insat.rnu.tn)</a>.
            </p>
            <p>
              Les étudiants pourront télécharger les documents nécessaires pour s’inscrire dans l’Ecole Doctorale de
              l’INSAT et ceci :
            </p>
            <ul class="circle">
              <li>
                Après avoir préparé et déposé au bureau d’ordre de l’INSAT un dossier complet dans le délai prescrit.
              </li>
              <li>
                Après avoir défini un sujet de thèse original et innovateur (décret 4 Janvier 2013, N° 2013-47) signé
                par un directeur de thèse (Corps A).
              </li>
              <li>Après avoir signé (avec son Directeur de thèse) la charte type.</li>
              <li>Après avoir eu l’avis favorable de la commission de thèse concernée.</li>
            </ul>
            <h6>Veuillez télécharger le fichier ci-dessous:</h6>
            <ul class="circle">
              <li>
                <a
                  (click)="openPdf('assets/upload/dossier_inscri_these.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: #777777; text-align: right"
                  >Pièces à fournir et dossier à remplir pour une inscription en thèse 2020/2021.</a
                >
              </li>
              <li>
                <a
                  (click)="openPdf('assets/upload/charte_etude_doctorale.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: #777777; text-align: right"
                  >Charte des études doctorales de l’université de carthage.</a
                >
              </li>
            </ul>
          </div>
          <div class="kf_courses_detail_des">
            <h3>B. Critères d’inscription :</h3>
            <p>
              Pour les étudiants ingénieurs (de l’INSAT ou d’autres établissements universitaires) et les étudiants
              ayant un Master de recherche (LMD), ils peuvent s’inscrire en thèse selon la grille d'évalutation :
              <a
                (click)="openPdf('assets/upload/grille_de_selection.pdf')"
                href="JavaScript:Void(0);"
                style="color: #777777; text-align: right; font-weight: bold"
                >grille de sélection</a
              >.
            </p>
            <p>
              <b>N.B :</b> Dans le cas ou l’étudiant et le directeur de thèse ne sont pas de l’université de Carthage,
              une convention inter-universitaire est obligatoire.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
