<div class="profile">
  <div class="edu_testemonial_wrap row">

    <div class="col ">
      <div class="col align-self-center">
        <div class="row align-items-center">
          <div class="col-md-4 align-self-center">
            <img
              class="profile-img"
              src="../assets/extra-images/testemonial.1.jpg"
              alt=""
            />
          </div>
          <div class="kf_edu2_heading2 col">
            <h3 class="header">Elleuch Sami</h3>
            <p class="header"> - Etudiant 4emme année cycle ingenieure GL</p>
            

          </div>
        </div>
        <!-- -->
        <div class="row align-items-center ">
          <div class="col   text-center">
            <hr class="heading-hr">
            <p >  <span class="bold">CIN :</span>  000000000000</p>
            <hr>
            <p > <span class="bold">NumEtudiant :</span> 074151515</p>
            <hr>
            <p > <span class="bold">Email :</span> xxxxxxx@xxxxxx.xx</p>
            <hr>
          </div>
        </div>
        <!-- -->
        <div class="row align-items-center ">
          <div class="col align-self-center  text-center">
            <a class="btn-3 text-center" href="#">Changer mes informations personel</a>
          </div>
          <div class="col align-self-center  text-center">
            <a class="btn-3 text-center" href="#">Deconnecter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TESTEMONIAL SLIDER WRAP END-->

<section class="k">
  <div class="k">
    <!-- HEADING 2 START-->
    <div class="col-md-12">
      <div class="kf_edu2_heading2">
        <h3 class="header">Bienvenu dans votre espace etudiant</h3>
      </div>
    </div>
    <!-- HEADING 2 END-->

    <!-- INTERO DES START-->
    <div class="kf_intro_des">
      <div class="kf_intro_des_caption">
        <span><i class="icon-earth132"></i></span>
        <h6>Consultation de notes</h6>
        <p class="intro_subtext">Consulter vos notes délibérées.</p>
        <a href="#">view more</a>
      </div>
    </div>
    <!-- INTERO DES END-->
    <!-- INTERO DES START-->
    <div class="kf_intro_des">
      <div class="kf_intro_des_caption">
        <span><i class="icon-educational18"></i></span>
        <h6>Calendrier pédagogique</h6>
        <p class="intro_subtext">
          Consulter votre emploi du temps, répartition de TP, et la répartition
          des examens.
        </p>
        <a href="#">view more</a>
      </div>
    </div>
    <!-- INTERO DES END-->

    <!-- INTERO DES START-->
    <div class="kf_intro_des">
      <div class="kf_intro_des_caption">
        <span><i class="icon-teacher4"></i></span>
        <h6>Contacter l'administration</h6>
        <p class="intro_subtext">
          Passer des demandes à l’administration (demande d’attestation de
          présence…
        </p>
        <a href="#">view more</a>
      </div>
    </div>
    <!-- INTERO DES END-->
  </div>
</section>
<!--KF INTRO WRAP END-->
<div appParallax [ratio]="+0.2" id="square"></div>
