.intro_header{
	color:#830709 !important;
	font-weight: 600;
}
.header{
	margin-top: 40px;
	font-weight: 300;
}
.profile{
	display: block;
	padding-top: 300px;
	width:60%;
	margin-left: auto;
	margin-right: auto;
}
.profile-img{
	display: block;
	margin-left: 40%;
	margin-right: auto;
	width: 200px;
}
.intro_subtext {
    color: black;
    font-weight: 300;
}

.kf_edu2_intro_wrap{
	position: relative;
	background-color: #f8f8f8;
}

.kf_edu2_intro_wrap:before{
	content: "";
	left: 0;
	width: 50%;
	top: 0;
	bottom: 0;
	background-image: url(src/assets/images/insateamphi.jpg);
	background-size: cover;
	background-position: center;
	position: absolute;
}
.btn-3:hover
{
    background-color: #000000;
    color: #fff;
    border-color: #000000 !important;
}
.text-cnter{
	text-align: center;
}