<!--KF INTRO WRAP START-->
<section class="kf_edu2_intro_wrap">
    <div class="kf_intro_des_wrap">
        <!-- HEADING 2 START-->
        <div class="col-md-12">
            <div class="kf_edu2_heading2">
                <h3 class="intro_header">Bienvenu dans votre espace etudiant</h3>
            </div>
        </div>
        <!-- HEADING 2 END-->
        <!-- INTERO DES START-->
        <div class="kf_intro_des">
            <div class="kf_intro_des_caption">
                <span><i class="icon-earth132"></i></span>
                <h6>Consultation de notes</h6>
                <p class="intro_subtext">Consulter vos notes délibérées.</p>
                <a href="#">view more</a>
            </div>
        </div>
        <!-- INTERO DES END-->
        <!-- INTERO DES START-->
        <div class="kf_intro_des">
            <div class="kf_intro_des_caption">
                <span><i class="icon-educational18"></i></span>
                <h6>Calendrier pédagogique</h6>
                <p class="intro_subtext">Consulter votre emploi du temps, répartition de TP, et la répartition des examens.</p>
                <a href="#">view more</a>
            </div>
        </div>
        <!-- INTERO DES END-->

        <!-- INTERO DES START-->
        <div class="kf_intro_des">
            <div class="kf_intro_des_caption">
                <span><i class="icon-teacher4"></i></span>
                <h6>Contacter l'administration</h6>
                <p class="intro_subtext"> Passer des demandes à l’administration (demande d’attestation de présence…</p>
                <a href="#">view more</a>
            </div>
        </div>
        <!-- INTERO DES END-->
    </div>
</section>
<!--KF INTRO WRAP END-->