<body>
	<!--KF KODE WRAPPER WRAP START-->
    <div class="kode_wrapper">

		<div class="edu2_main_bn_wrap">
			<div id="owl-demo-main" class="owl-carousel owl-theme">
				<div class="item">
					<figure>
						<img src="../assets/extra-images/photo.jpg" alt="" height="510"/>
						<figcaption>
							<h3 class="h3_slider">Institut National des Sciences Appliquées et de Technologie</h3>
							<a routerLink="/insat" class="btn-1 btn_slider">Plus d'information</a>
						</figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img src="../assets/extra-images/photoo.jpg" alt="" height="510"/>
						<figcaption>
							<h3 class="h3_slider">Une formation riche</h3>
							<a routerLink="/formation/prepa" class="btn-1 btn_slider">Plus d'information</a>
						</figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img src="../assets/extra-images/slider_2.jpg" alt="" height="510"/>
						<figcaption>
							<h3 class="h3_slider">Une vie associative animée</h3>
							<a routerLink="/insat/clubs" class="btn-1 btn_slider">Dévouvrir nos clubs</a>
						</figcaption>
					</figure>
				</div>
			</div>
    </div>

    <div class="kf_content_wrap">
      <!--COURSE OUTER WRAP START-->
      <div class="kf_course_outerwrap">
        <div class="container">
          <div class="row">
            <div>
              <div class="row">
                <!--COURSE CATEGORIES WRAP START-->
                <div class="kf_cur_catg_wrap row">
                  <!--COURSE CATEGORIES WRAP HEADING START-->
                  <div class="col-md-12">
                    <div class="kf_edu2_heading1">
                      <h3>Nos départements</h3>
                    </div>
                  </div>
                  <!--COURSE CATEGORIES WRAP HEADING END-->

									<!--COURSE CATEGORIES DES START-->
									<div class="col-md-6">
										<div class="kf_cur_catg_des color-1">
											<span><i class="icon-statistics"></i></span>
											<div class="kf_cur_catg_capstion">
												<h5>GÉNIE INFORMATIQUE ET MATHÉMATIQUES</h5>
												<a routerLink="/insat/infmath" class="btn btn-outline-dark">Plus d'information</a>
											</div>
										</div>
									</div>
									<!--COURSE CATEGORIES DES END-->

                  <!--COURSE CATEGORIES DES START-->
                  <div class="col-md-6">
                    <div class="kf_cur_catg_des color-2">
                      <span><i class="icon-accounting5"></i></span>
                      <div class="kf_cur_catg_capstion">
                        <h5>GÉNIE PHYSIQUE ET INSTRUMENTATION</h5>
												<a routerLink="/insat/phyins" class="btn btn-outline-dark">Plus d'information</a>
											</div>
										</div>
									</div>
									<!--COURSE CATEGORIES DES END-->

                  <!--COURSE CATEGORIES DES START-->
                  <div class="col-md-6">
                    <div class="kf_cur_catg_des color-3">
                      <span><i class="icon-chemistry29"></i></span>
                      <div class="kf_cur_catg_capstion">
                        <h5>GÉNIE BIOLOGIE ET CHIMIE</h5>
												<a routerLink="/insat/bioch" class="btn btn-outline-dark">Plus d'information</a>
											</div>
										</div>
									</div>
									<!--COURSE CATEGORIES DES END-->

                  <!--COURSE CATEGORIES DES START-->
                  <div class="col-md-6">
                    <div class="kf_cur_catg_des color-4">
                      <span><i class="fas fa-users"></i></span>
                      <div class="kf_cur_catg_capstion">
                        <h5>SCIENCES SOCIALES, LANGUES ET FORMATION GÉNÉRALE</h5>
												<a routerLink="/insat/formgen" class="btn btn-outline-dark">Plus d'information</a>
											</div> 
										</div>
									</div>
									<!--COURSE CATEGORIES DES END-->

									

								</div>
								<!--COURSE CATEGORIES WRAP END-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--COURSE OUTER WRAP END-->
			<!--KF INTRO WRAP START-->
			<section class="kf_edu2_intro_wrap">
				<div class="kf_intro_des_wrap">
					<!-- HEADING 2 START-->
					<div class="col-md-12">
						<div class="kf_edu2_heading2">
							<h3>Bienvenue à l'espace de l'INSAT</h3>
						</div>
					</div>
					<!-- HEADING 2 END-->
					<!-- INTERO DES START-->
          
					<div class="kf_intro_des">
						<div class="kf_intro_des_caption">
							<span><i class="icon-earth132"></i></span>
							<h6>A propos</h6>
							<p>Découvrir la structure générale de l'INSAT et son historique.</p>
							<a  routerLink="/insat">Découvrir</a>
						</div>
						<figure>
							<img src="../assets/extra-images/intro-1.jpg" alt=""/>
							<figcaption><a routerLink="/insat">A propos de l'INSAT</a></figcaption>
						</figure>
					</div>
					<!-- INTERO DES END-->
					<!-- INTERO DES START-->
					<div class="kf_intro_des">
						<div class="kf_intro_des_caption">
							<span><i class="icon-educational18"></i></span>
							<h6>Espace Etudiant</h6>
							<p>Cet espace est dedié seulement aux étudiants de l'INSAT.</p>
							<a routerLink="/espace-etudiant">Découvrir</a>
						</div>
						<figure>
							<img src="../assets/extra-images/intro-2.jpg" alt=""/>
							<figcaption><a routerLink="/espace-etudiant">Espace étudiant</a></figcaption>
						</figure>
					</div>
					<!-- INTERO DES END-->

					<!-- INTERO DES START-->
					<div class="kf_intro_des">
						<div class="kf_intro_des_caption ">
							<span><i class="icon-teacher4"></i></span>
							<h6>Calendrier</h6>
							<p>Consulter les emplois de temps,les calendriers des examens et des vacances.</p>
							<a routerLink="/insat/emplois">Découvrir</a>
						</div>
						<figure>
							<img src="../assets/extra-images/intro-3.jpg" alt=""/>
							<figcaption><a routerLink="/insat/emplois">Calendrier pédagogique</a></figcaption>
						</figure>
					</div>
					<!-- INTERO DES END-->
				</div>
			</section>
			<!--KF INTRO WRAP END-->

      <!--KF COURSES CATEGORIES WRAP START-->

      <!--KF INTRO WRAP END-->

      <!--KF COURSES CATEGORIES WRAP START-->
      <section>
        <div class="container">
			<div class="row margin">
				<div class="col-md-4 margin" *ngFor="let new of news">
				  <app-news-card [news]="new"></app-news-card>
				</div>
			  </div>
          <div class="row margin">
			<div class="loadmore">
				<a routerLink="/insat/nouveautes" class="btn-3">Toutes les nouveautés</a>
			  </div>
          </div>
        </div>
      </section>
      <!--KF COURSES CATEGORIES WRAP END-->

      <!--GALLERY SECTION START-->
      <section class="kode-gallery-section">
        <!-- HEADING 2 START-->
        <div class="col-md-12">
          <div class="kf_edu2_heading2">
            <h3>Photos</h3>
            <p>INSAT : Un coin de paradis.</p>
          </div>
        </div>
        <!-- HEADING 2 END-->
        <!-- EDU2 GALLERY WRAP START-->
        <div class="edu2_gallery_wrap">
          <!-- EDU2 GALLERY DES START-->
          <div class="gallery3">
            <div class="row" style="padding-bottom: 0px">
              <div class="filterable-item all 2 1 9 col-md-3 col-sm-4 col-xs-12 no_padding">
                <div class="edu2_gallery_des">
                  <figure>
                    <img alt="" src="../assets/extra-images/gallery1.jpg" />
                    <figcaption>
                      <a data-rel="prettyPhoto[gallery2]" href="../assets/extra-images/gallery1.jpg"
                        ><i class="fa fa-eye"></i
                      ></a>
                      <a href="#"><i class="fa fa-link"></i></a>
                      <h5>Un coin de paradis</h5>
                      <p>Local sumsung</p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="filterable-item all 3 2 1 col-md-3 col-sm-4 col-xs-12 no_padding">
                <div class="edu2_gallery_des">
                  <figure>
                    <img alt="" src="../assets/extra-images/gallery2.jpg" />
                    <figcaption>
                      <a data-rel="prettyPhoto[gallery2]" href="../assets/extra-images/gallery2.jpg"
                        ><i class="fa fa-eye"></i
                      ></a>
                      <a href="#"><i class="fa fa-link"></i></a>
                      <h5>Un coin de paradis</h5>
                      <p>Local sumsung</p>
                    </figcaption>
                  </figure>
                </div>
              </div>

              <div class="filterable-item all 4 2 9 col-md-3 col-sm-4 col-xs-12 no_padding">
                <div class="edu2_gallery_des">
                  <figure>
                    <img alt="" src="../assets/extra-images/gallery3.jpg" />
                    <figcaption>
                      <a data-rel="prettyPhoto[gallery2]" href="../assets/extra-images/gallery3.jpg"
                        ><i class="fa fa-eye"></i
                      ></a>
                      <a href="#"><i class="fa fa-link"></i></a>
                      <h5>Un coin de paradis</h5>
                      <p>Jardin</p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="filterable-item all 9 8 7 col-md-3 col-sm-4 col-xs-12 no_padding">
                <div class="edu2_gallery_des">
                  <figure>
                    <img alt="" src="../assets/extra-images/gallery4.jpg" />
                    <figcaption>
                      <a data-rel="prettyPhoto[gallery2]" href="../assets/extra-images/gallery4.jpg"
                        ><i class="fa fa-eye"></i
                      ></a>
                      <a href="#"><i class="fa fa-link"></i></a>
                      <h5>Un coin de paradis</h5>
                      <p>Jardin</p>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="filterable-item all 3 2 4 col-md-3 col-sm-4 col-xs-12 no_padding">
                <div class="edu2_gallery_des">
                  <figure>
                    <img alt="" src="../assets/extra-images/photoooo.jpg" />
                    <figcaption>
                      <a data-rel="prettyPhoto[gallery2]" href="../assets/extra-images/photoooo.jpg"
                        ><i class="fa fa-eye"></i
                      ></a>
                      <a href="#"><i class="fa fa-link"></i></a>
                      <h5>Un coin de paradis</h5>
                      <p>Jardin</p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="filterable-item all 4 5 7 col-md-3 col-sm-4 col-xs-12 no_padding">
                <div class="edu2_gallery_des">
                  <figure>
                    <img alt="" src="../assets/extra-images/photooo.jpg" />
                    <figcaption>
                      <a data-rel="prettyPhoto[gallery2]" href="../assets/extra-images/photooo.jpg"
                        ><i class="fa fa-eye"></i
                      ></a>
                      <a href="#"><i class="fa fa-link"></i></a>
                      <h5>Un coin de paradis</h5>
                      <p>Jardin</p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="filterable-item all 2 4 6 8 col-md-3 col-sm-4 col-xs-12 no_padding">
                <div class="edu2_gallery_des">
                  <figure>
                    <img alt="" src="../assets/extra-images/photoo.jpg" />
                    <figcaption>
                      <a data-rel="prettyPhoto[gallery2]" href="../assets/extra-images/photoo.jpg"
                        ><i class="fa fa-eye"></i
                      ></a>
                      <a href="#"><i class="fa fa-link"></i></a>
                      <h5>Un coin de paradis</h5>
                      <p>Jardin</p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="filterable-item all 2 4 6 8 col-md-3 col-sm-4 col-xs-12 no_padding">
                <div class="edu2_gallery_des">
                  <figure>
                    <img alt="" src="../assets/extra-images/photo.jpg" />
                    <figcaption>
                      <a data-rel="prettyPhoto[gallery2]" href="../assets/extra-images/photo.jpg"
                        ><i class="fa fa-eye"></i
                      ></a>
                      <a href="#"><i class="fa fa-link"></i></a>
                      <h5>Un coin de paradis</h5>
                      <p>Jardin</p>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="loadmore">
          <a routerLink="/insat" class="btn-3">Plus de photos</a>
        </div>
      </section>
      <!--GALLERY SECTION END-->

      <!--COUNTER SECTION START-->
      <section class="edu2_counter_wrap">
        <div class="container">
          <!--EDU2 COUNTER DES START-->
          <div class="edu2_counter_des">
            <span><i class="icon-group2"></i></span>
            <h3 class="counter">200</h3>
            <h5>ADMINISTRATEURS</h5>
          </div>
          <!--EDU2 COUNTER DES END-->
          <!--EDU2 COUNTER DES START-->
          <div class="edu2_counter_des">
            <span><i class="icon-book236"></i></span>
            <h3 class="counter">261</h3>
            <h5>Enseignants</h5>
          </div>
          <!--EDU2 COUNTER DES END-->
          <!--EDU2 COUNTER DES START-->
          <div class="edu2_counter_des">
            <span><i class="icon-win5"></i></span>
            <h3 class="counter">3505</h3>
            <h5>ETUDIANTS</h5>
          </div>
          <!--EDU2 COUNTER DES END-->
          <!--EDU2 COUNTER DES START-->
          <div class="edu2_counter_des">
            <span><i class="icon-user255"></i></span>
            <h3 class="counter">6</h3>
            <h5>FILIERES</h5>
          </div>
          <!--EDU2 COUNTER DES END-->
        </div>
      </section>
      <!--COUNTER SECTION END-->

		
			
			<!-- LATEST NEWS AND EVENT WRAP START-->
			<section class="edu2_new_wrap">
				<div class="container">
					<!-- HEADING 2 START-->
					<div class="col-md-12">
						<div class="kf_edu2_heading2">
							<h3>Evénements de l'INSAT</h3>
						</div>
					</div>
					<!-- HEADING 2 END-->
					<div class="row">
						<!-- EDU2 NEW DES START-->
						<div class="col-md-6">
							<div class="edu2_new_des">
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<div class="edu2_event_des">
											<h4>Sep</h4>
											<p>{{events[0].club}} organise {{events[0].title}}</p>
											<ul class="post-option">
 												<li>Organisé par : <a routerLink="/insat/clubs/club">{{events[0].club}}</a></li>
 												<li>{{events[0].date}}</li>
											</ul>
											<a routerLink="insat/evenments/event" class="readmore">Plus d'information<i class="fa fa-long-arrow-right"></i></a>
											<span>24</span>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 thumb">
										<figure><img class="news_image" src="../assets/extra-images/news1.jpg" alt=""/>
											<figcaption><a routerLink="insat/evenments/event"><i class="fa fa-plus"></i></a></figcaption>
										</figure>
									</div>
								</div>
							</div>
						</div>
						<!-- EDU2 NEW DES END-->

						<!-- EDU2 NEW DES START-->
						<div class="col-md-6">
							<div class="edu2_new_des">
								<div class="row">
									<div class="col-md-6 col-sm-6 thumb">
										<figure><img class="news_image" src="../assets/extra-images/news2.jpg" alt=""/>
											<figcaption><a routerLink="insat/evenments/event"><i class="fa fa-plus"></i></a></figcaption>
										</figure>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="edu2_event_des text-right">
											<h4>Jui</h4>
											<p>{{events[1].club}} organise {{events[1].title}}</p>
											<ul class="post-option">
 												<li>Organisé par : <a routerLink="/insat/clubs/club">{{events[1].club}}</a></li>
 												<li>{{events[1].date}}</li>
											</ul>
											<a routerLink="insat/evenments/event" class="readmore">Plus d'information<i class="fa fa-long-arrow-right"></i></a>
											<span>03</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- EDU2 NEW DES END-->

						<!-- EDU2 NEW DES START-->
						<div class="col-md-6">
							<div class="edu2_new_des">
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<div class="edu2_event_des">
											<h4>Jui</h4>
											<p>{{events[2].club}} organise {{events[2].title}}</p>
											<ul class="post-option">
 												<li>Organisé par : <a routerLink="/insat/clubs/club">{{events[2].club}}</a></li>
 												<li>{{events[2].date}}</li>
											</ul>
											<a routerLink="insat/evenments/event" class="readmore">Plus d'information<i class="fa fa-long-arrow-right"></i></a>
											<span>30</span>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 thumb">
										<figure><img src="../assets/extra-images/news3.jpg" alt=""/>
											<figcaption><a routerLink="insat/evenments/event"><i class="fa fa-plus"></i></a></figcaption>
										</figure>
									</div>
								</div>
							</div>
						</div>
						<!-- EDU2 NEW DES END-->

						<!-- EDU2 NEW DES START-->
						<div class="col-md-6">
							<div class="edu2_new_des">
								<div class="row">
									<div class="col-md-6 col-sm-6 thumb">
										<figure><img src="../assets/extra-images/news4.jpg" alt=""/>
											<figcaption><a routerLink="insat/evenments/event"><i class="fa fa-plus"></i></a></figcaption>
										</figure>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="edu2_event_des text-right">
											<h4>Mai</h4>
											<p>{{events[3].club}} organise {{events[3].title}}</p>
											<ul class="post-option">
 												<li>Organisé par : <a routerLink="/insat/clubs/club">{{events[3].club}}</a></li>
 												<li>{{events[3].date}}</li>
											</ul>
											<a routerLink="insat/evenments/event" class="readmore">Plus d'information<i class="fa fa-long-arrow-right"></i></a>
											<span>11</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- EDU2 NEW DES END-->
					</div>
          <div class="row">
			<div class="loadmore">
				<a routerLink="/insat/evenments" class="btn-3">Tous les événements</a>
			</div>
          </div>
        </div>
      </section>
      <!-- LATEST NEWS AND EVENT WRAP END-->
    </div>

    <!--EDU2 FOOTER WRAP START-->
    <!--NEWS LETTERS START-->
    <div class="edu2_ft_topbar_wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="edu2_ft_topbar_des">
              <h5>Poursuivre les nouveautés</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="edu2_ft_topbar_des">
              <form>
                <input type="email" placeholder="Entrer votre adresse mail" />
                <button><i class="fa fa-paper-plane"></i>Envoyer</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--NEWS LETTERS END-->
  </div>
  <!--KF KODE WRAPPER WRAP END-->

</body>
