<div class="kf_content_wrap">
  <!--Banner Wrap Start-->
  <div class="kf_inr_banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--KF INR BANNER DES Wrap Start-->
          <div class="kf_inr_ban_des">
            <div class="inr_banner_heading">
              <h3>Relations externes</h3>
            </div>

            <div class="kf_inr_breadcrumb">
              <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/relations-externes">Relations externes</a></li>
              </ul>
            </div>
          </div>
          <!--KF INR BANNER DES Wrap End-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 container-relations-externes col-xs-12">
    <div class="courses_detail_heading">
      <h4>Relations Externes</h4>
    </div>
    <div class="kf_courses_tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="" [ngClass]="{ active: tablist[0] }" (click)="changeActiveTab(0)">
          <a
            href="#partenariatsentreprises"
            aria-controls="partenariatsentreprises"
            role="tab"
            data-toggle="tab"
            aria-expanded="true"
            >Partenariats Entreprises</a
          >
        </li>
        <li role="presentation" class="" [ngClass]="{ active: tablist[1] }" (click)="changeActiveTab(1)">
          <a href="#stagesdete" aria-controls="stagesdete" role="tab" data-toggle="tab" aria-expanded="false"
            >Stages d'été</a
          >
        </li>
        <li role="presentation" class="" [ngClass]="{ active: tablist[2] }" (click)="changeActiveTab(2)">
          <a href="#pfe" aria-controls="pfe" role="tab" data-toggle="tab" aria-expanded="false">PFE</a>
        </li>
        <li role="presentation" class="" [ngClass]="{ active: tablist[3] }" (click)="changeActiveTab(3)">
          <a href="#semsem" aria-controls="semsem" role="tab" data-toggle="tab" aria-expanded="false"
            >PLATE FORME SEMSEM</a
          >
        </li>
        <li role="presentation" class="" [ngClass]="{ active: tablist[4] }" (click)="changeActiveTab(4)">
          <a href="#mitacs" aria-controls="mitacs" role="tab" data-toggle="tab" aria-expanded="false">Mitacs</a>
        </li>
        <li role="presentation" class="" [ngClass]="{ active: tablist[5] }" (click)="changeActiveTab(5)">
          <a href="#conventions" aria-controls="conventions" role="tab" data-toggle="tab" aria-expanded="false"
            >Conventions Internationales</a
          >
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="partenariatsentreprises">
          <!-- COURSES DETAIL DES START -->
          <div class="kf_courses_detail_des">
            <div class="course_heading">
              <h3>Partenariats Entreprises</h3>
            </div>
            <p>
              L'INSAT s'est engagé à assurer pour ses futurs diplômés une bonne formation dans les domaines des sciences
              de base, des sciences appliquées et des sciences humaines et sociales, en plus d'une formation
              technologique complète et poussée, un apprentissage aux méthodes de travail en entreprise et une
              initiation à la recherche.
            </p>
            <p>
              Dans ce cadre, le plan d'étude de l'INSAT prévoit pour ses étudiants en fin de parcourt, un stage de
              Projet de Fin d'Etudes obligatoire d’une durée de quatre à six mois. Pour les étudiants inscrits au cycle
              ingénieurs, l’INSAT prévoit en plus deux stages obligatoires intermédiaires d’une durée d’un mois chacun.
            </p>
            <p>
              Cette année, l’INSAT a décidé de s’affilier à la plate forme SEMSEM des stages semsem-stages.uvt.rnu.tn :
            </p>
            <p>
              Cette plateforme assure le suivie du stage en temps réel, grâce à i) un cahier de bord tenu par le
              stagiaire et ii) des fiches d’évaluation intermédiaires élaborées par les encadrants.
            </p>
            <p>
              Pour recevoir un email leur permettant de s’inscrire sur la plateforme, les étudiants inscrits en 3ème et
              en 4ème année doivent remplir le formulaire sur le lien suivant :Données pour inscription sur SEMSEM
            </p>
            <p>
              Les étudiants en 5ème année et licence, qui n’ont pas encore reçu d’email l’invitant à se connecter sur la
              plate forme Semesem, sont prié de fournir leur adresse email sur le lien suivant : Données pour
              inscription sur SEMSEM
            </p>

            <p>
              <strong>Tout stage non inscrit sur la plate forme Semsem ne sera pas validé</strong>
            </p>
            <p>
              Une fois connectés sur la plateforme semsem-stages.uvt.rnu.tn , les élèves stagiaires doivent remplir la
              fiche de stage en indiquant notamment les responsables académique et professionnel, leurs coordonnées
              ainsi que les coordonnées de l’entreprise d’accueil. Dès validation de cette fiche, des courriels de
              notification sont envoyés aux deux encadrants leur permettant de se connecter à leur tour sur la
              plateforme et suivre l’évolution du stage en temps réel grâce à i) un cahier de bord tenu par le stagiaire
              et ii) des fiches d’évaluation intermédiaires élaborées par les encadrants. A plus long terme, cette
              plateforme facilitera la recherche de stages puisqu’elle permet de déposer les demandes et les offres de
              stages.
            </p>
            <p>
              PS : La plate forme n’accepte qu’un seul responsable académique. Dans le cas de co-encadrement, prière
              d’indiquer le nom du responsable principal.
            </p>
          </div>
          <!-- COURSES DETAIL DES END -->

          <!-- STUDY TABLE WRAP START -->
          <div class="study_table_wrap">
            <!-- <h6>Study Options</h6> -->
            <!--  TABLE  START -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Etablissement Universitaire</th>
                  <th>Société</th>
                  <th>Objet de la convention</th>
                  <th>Responsable</th>
                  <th>Date d'effet</th>
                  <th>Durée</th>
                  <th>Observations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let partenariat of partenariats">
                  <td>{{ partenariat.universite }}</td>
                  <td>{{ partenariat.societe }}</td>
                  <td>{{ partenariat.objet }}</td>
                  <td>{{ partenariat.responsable }}</td>
                  <td>{{ partenariat.date }}</td>
                  <td>{{ partenariat.duree }}</td>
                  <td>{{ partenariat.observation }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- STUDY TABLE WRAP END -->
        </div>

        <div role="tabpanel" class="tab-pane" id="stagesdete">
          <!-- COURSES DETAIL DES START -->
          <div class="kf_courses_detail_des">
            <div class="course_heading">
              <h3>Stage d'été</h3>
            </div>
            <p>
              Les études en vue de l'obtention du diplôme national d'ingénieur en sciences appliquées et en technologie
              visent à donner :
            </p>
            <ul style="padding-left: 5em">
              <li><i class="fa fa-angle-right"></i> Une formation scientifique et technologique approfondie,</li>
              <li><i class="fa fa-angle-right"></i> Une connaissance de l'entreprise et de son environnement,</li>
              <li><i class="fa fa-angle-right"></i> Une initiation à la recherche.</li>
            </ul>
            <br />
            <p>Ces enseignements sont complétés par :</p>
            <ul style="padding-left: 5em">
              <li>
                <i class="fa fa-angle-right"></i> Des stages professionnels dans les organismes publics ou privés en
                Tunisie ou à l'étranger,
              </li>
              <li>
                <i class="fa fa-angle-right"></i> Un projet de fin d'études à caractère professionnel organisé au cours
                du dernier semestre du cycle de formation d'ingénieurs.
              </li>
            </ul>
            <br />
            <p>Veuillez télécharger les fichiers ci_dessous:</p>
            <ul style="padding-left: 5em">
              <li *ngFor="let doc of docsAdmin">
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a (click)="openPdf(doc.url)" href="JavaScript:Void(0);" style="color: blue; text-align: right">{{
                  doc.name
                }}</a>
              </li>
            </ul>
          </div>
          <!-- COURSES DETAIL DES END -->
        </div>

        <div role="tabpanel" class="tab-pane" id="pfe">
          <!-- COURSES DETAIL DES START -->
          <div class="kf_courses_detail_des">
            <div class="course_heading">
              <h3>PFE LICENCES APPLIQUÉES</h3>
            </div>
            <p>
              Le diplôme national en licence appliquée est délivré aux étudiants ayant satisfait aux conditions
              suivantes :
            </p>
            <ul style="padding-left: 5em">
              <li><i class="fa fa-angle-right"></i> Avoir validé tous les stages requis</li>
              <li>
                <i class="fa fa-angle-right"></i> Avoir soutenu avec succès un projet de fin d'études selon les
                modalités fixées par le directeur de l'I.N.S.A.T,
              </li>
              <li>
                <i class="fa fa-angle-right"></i> Avoir obtenu la moyenne générale entre les examens du premier semestre
                de la troisième année et la note de soutenance du projet de fin d'études.
              </li>
            </ul>
            <br />
            <p style="color: #678ade">Le dossier PFE en Licence Appliquée doit être composé des pièces suivantes :</p>
            <ul style="padding-left: 5em">
              <li>
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a>La convention de stage disponible en version numérique </a>
              </li>
              <li>
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a>Une photo et une enveloppe affranchie sans adresse.</a>
              </li>
              <li *ngFor="let doc of docsLicense">
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a (click)="openPdf(doc.url)" href="JavaScript:Void(0);" style="color: blue; text-align: right">{{
                  doc.name
                }}</a>
              </li>
            </ul>
            <br />
            <p>
              Les étudiants sont appelés à déposer leur dossier de PFE complet, dûment rempli, tapé et signé, à la
              Direction de la Vie Universitaire et des Relations avec l’Environnement.
            </p>
            <ul style="padding-left: 5em">
              <li>
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a
                  (click)="openPdf('assets/upload/1476712979.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: blue; text-align: right"
                >
                  Convention PFE Licence Appliqué
                </a>
              </li>
            </ul>
            <br />
            <p>
              Pour comprendre, les différentes étapes du traitement du dossier de PFE,
              <a
                (click)="openPdf('assets/upload/1423041166.pdf')"
                href="JavaScript:Void(0);"
                style="color: blue; text-align: right"
              >
                télécharger le cycle de vie d’une convention de PFE .</a
              >
            </p>
            <p>
              Aprés signature de la convention de PFE,<a
                (click)="openPdf('assets/upload/1558706133.pdf')"
                href="JavaScript:Void(0);"
                style="color: blue; text-align: right"
              >
                une lettre d’affectation
              </a>
              peut être délivrée par la Direction de la Vie Universitaire et des Relations avec l’environnement.
            </p>
          </div>

          <!-- COURSES DETAIL DES END -->

          <!-- STUDY TABLE WRAP START -->
          <div class="study_table_wrap">
            <h6>PFE MASTÈRES</h6>
            <ul style="padding-left: 5em">
              <li *ngFor="let doc of docsMastere">
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a (click)="openPdf(doc.url)" href="JavaScript:Void(0);" style="color: blue; text-align: right">{{
                  doc.name
                }}</a>
              </li>
            </ul>
          </div>
          <!-- STUDY TABLE WRAP END -->

          <!-- STUDY TABLE WRAP START -->
          <div class="study_table_wrap">
            <h6>PFE INGÉNIEURS</h6>

            <p>
              Le diplôme national d'ingénieur en sciences appliquées et en technologie est délivré aux étudiants du
              cycle de formation d'ingénieurs ayant satisfait aux conditions suivantes :
            </p>
            <ul style="padding-left: 5em">
              <li>
                <i class="fa fa-angle-right"></i> Être inscrit au sixième semestre du cycle de formation d'ingénieurs
              </li>
              <li><i class="fa fa-angle-right"></i> Avoir validé tous les stages requis</li>
              <li>
                <i class="fa fa-angle-right"></i> Avoir soutenu avec succès un projet de fin d'études devant un jury
                dont la composition et la présidence sont arrêtées par le directeur de l'I.N.S.A.T,
              </li>
              <li>
                <i class="fa fa-angle-right"></i> Avoir obtenu une moyenne générale égale ou supérieure à 10/20 durant
                le cinquième semestre.
              </li>
            </ul>
            <br />
            <p>Le projet de fin d'études a pour but :</p>
            <ul style="padding-left: 5em">
              <li>
                <i class="fa fa-angle-right"></i> De permettre à l'étudiant de prendre contact avec le monde du travail,
              </li>
              <li><i class="fa fa-angle-right"></i> De tester ses possibilités d'adaptation personnelle,</li>
              <li>
                <i class="fa fa-angle-right"></i> De mettre en pratique les connaissances et les concepts qu'il a acquis
                à l'I.N.S.A.T,
              </li>
              <li>
                <i class="fa fa-angle-right"></i> De développer le sens de l'initiative et de l'autonomie dans la
                poursuite d'un travail,
              </li>
              <li><i class="fa fa-angle-right"></i> D'encourager l'ouverture intellectuelle de l'étudiant.</li>
            </ul>
            <br />
            <p style="color: #678ade">Le dossier PFE ingénieur doit être composé des pièces suivantes :</p>
            <ul style="padding-left: 5em">
              <li>
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a>La convention de stage </a>
              </li>
              <li>
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a>Une photo et une enveloppe affranchie sans adresse.</a>
              </li>
              <li *ngFor="let doc of docsIngenieur">
                <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
                <a (click)="openPdf(doc.url)" href="JavaScript:Void(0);" style="color: blue; text-align: right">{{
                  doc.name
                }}</a>
              </li>
            </ul>
            <br />
            <p>
              Les étudiants sont appelés à déposer leur dossier de PFE complet, dûment rempli, tapé et signé, à la
              Direction de la Vie Universitaire et des Relations avec l’Environnement.
            </p>
            <ul style="padding-left: 5em">
              <li>
                <i class="fa fa-angle-right"></i>
                pour les stages en Tunisie ou à l’étranger :
                <a
                  (click)="openPdf('assets/upload/1574760312.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: blue; text-align: right"
                >
                  télécharger la convention PFE Ingénieur.
                </a>
                Une version de
                <a
                  (click)="openPdf('assets/upload/1574760309.pdf')"
                  href="JavaScript:Void(0);"
                  style="color: blue; text-align: right"
                >
                  la convention
                </a>
                en anglais est disponible.
              </li>
            </ul>
            <br />
            <p>
              Pour comprendre, les différentes étapes du traitement du dossier de PFE, télécharger
              <a
                (click)="openPdf('assets/upload/1423041166.pdf')"
                href="JavaScript:Void(0);"
                style="color: blue; text-align: right"
              >
                le cycle de vie d’une convention de PFE.
              </a>
            </p>
            <p>
              Aprés signature de la convention de PFE,
              <a
                (click)="openPdf('assets/upload/1558706130.pdf')"
                href="JavaScript:Void(0);"
                style="color: blue; text-align: right"
                >une lettre d’affectation</a
              >
              peut être délivrée par la Direction de la Vie Universitaire et des Relations avec l’environnement.
            </p>
          </div>
          <!-- STUDY TABLE WRAP END -->

          <!-- STUDY TABLE WRAP START -->
          <div class="study_table_wrap border_none">
            <h6>Student’s Destinations</h6>
            <p>
              Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum velit mauris
              egestas quam ut aliquam massa nisl quis neque. Suspendisse in orci enim.Etiam pharetra erat sed fermentum
              feugiat velit mauris egestas quam ut aliquam massa nisl quis neque
            </p>
          </div>
          <!-- STUDY TABLE WRAP END -->
        </div>

        <div role="tabpanel" class="tab-pane" id="semsem">
          <!-- COURSES DETAIL DES START -->
          <div class="kf_courses_detail_des">
            <div class="course_heading">
              <h3>PLATE FORME SEMSEM</h3>
            </div>
            <p>
              L'INSAT s'est engagé à assurer pour ses futurs diplômés une bonne formation dans les domaines des sciences
              de base, des sciences appliquées et des sciences humaines et sociales, en plus d'une formation
              technologique complète et poussée, un apprentissage aux méthodes de travail en entreprise et une
              initiation à la recherche.
            </p>
            <p>
              Dans ce cadre, le plan d'étude de l'INSAT prévoit pour ses étudiants en fin de parcourt, un stage de
              Projet de Fin d'Etudes obligatoire d’une durée de quatre à six mois. Pour les étudiants inscrits au cycle
              ingénieurs, l’INSAT prévoit en plus deux stages obligatoires intermédiaires d’une durée d’un mois chacun.
            </p>
            <p>
              Cette année, l’INSAT a décidé de s’affilier à la plate forme SEMSEM des stages
              <a href="http://semsem-stages.uvt.rnu.tn/" style="color: blue">semsem-stages.uvt.rnu.tn </a>
            </p>
            <p>
              Cette plateforme assure le suivie du stage en temps réel, grâce à i) un cahier de bord tenu par le
              stagiaire et ii) des fiches d’évaluation intermédiaires élaborées par les encadrants.
            </p>
            <p>
              Pour recevoir un email leur permettant de s’inscrire sur la plateforme, les étudiants inscrits en 3ème et
              en 4ème année doivent remplir le formulaire sur le lien suivant :
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLScBl4ilZpL4vNBHkI0qVPUn5YAdqbNJA5EHvyi65EKErPfDdg/viewform"
                style="color: blue"
              >
                Données pour inscription sur SEMSEM
              </a>
            </p>
            <p>
              Les étudiants en 5ème année et licence, qui n’ont pas encore reçu d’email l’invitant à se connecter sur la
              plate forme Semesem, sont prié de fournir leur adresse email sur le lien suivant :
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLScBl4ilZpL4vNBHkI0qVPUn5YAdqbNJA5EHvyi65EKErPfDdg/viewform"
                style="color: blue"
              >
                Données pour inscription sur SEMSEM
              </a>
            </p>
            <p><strong>Tout stage non inscrit sur la plate forme Semsem ne sera pas validé</strong></p>
            <p>
              Une fois connectés sur la plateforme semsem-stages.uvt.rnu.tn , les élèves stagiaires doivent remplir la
              fiche de stage en indiquant notamment les responsables académique et professionnel, leurs coordonnées
              ainsi que les coordonnées de l’entreprise d’accueil. Dès validation de cette fiche, des courriels de
              notification sont envoyés aux deux encadrants leur permettant de se connecter à leur tour sur la
              plateforme et suivre l’évolution du stage en temps réel grâce à i) un cahier de bord tenu par le stagiaire
              et ii) des fiches d’évaluation intermédiaires élaborées par les encadrants. A plus long terme, cette
              plateforme facilitera la recherche de stages puisqu’elle permet de déposer les demandes et les offres de
              stages.
            </p>
            <p>
              PS : La plate forme n’accepte qu’un seul responsable académique. Dans le cas de co-encadrement, prière
              d’indiquer le nom du responsable principal.
            </p>
            <p (click)="changeActiveTab(0)">
              <a
                style="color: blue"
                href="#partenariatsentreprises"
                aria-controls="partenariatsentreprises"
                role="tab"
                data-toggle="tab"
                aria-expanded="true"
              >
                Affiliation à la plate forme SEMSEM des stages est obligatoire pour la validation des stages d’été et
                PFE
              </a>
            </p>
          </div>
          <!-- COURSES DETAIL DES END -->
        </div>

        <!-- Mitacs -->
        <div role="tabpanel" class="tab-pane" id="mitacs">
          <h6>Mitacs</h6>
          <p>
            <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon> &nbsp;
            <a
              (click)="openPdf('assets/upload/1539775711.pdf')"
              href="JavaScript:Void(0);"
              style="color: blue; text-align: right"
              >Télécharger le document</a
            >
          </p>

          <p></p>
        </div>

        <!-- Conventions Internationales -->
        <div role="tabpanel" class="tab-pane" id="conventions">
          <h6>Conventions Internationales</h6>
          <!-- STUDY TABLE WRAP START -->
          <div class="study_table_wrap">
            <!-- <h6>Study Options</h6> -->
            <!--  TABLE  START -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Etablissement Tunisien</th>
                  <th>Etablissement Etranger</th>
                  <th>Sujet de la convention</th>
                  <th>Responsable</th>
                  <th>Date de signature</th>
                  <th>Periode</th>
                  <th>Observation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let convention of conventions">
                  <td>{{ convention.etablissement }}</td>
                  <td>{{ convention.etranger }}</td>
                  <td>{{ convention.sujet }}</td>
                  <td>{{ convention.responsable }}</td>
                  <td>{{ convention.date }}</td>
                  <td>{{ convention.periode }}</td>
                  <td>{{ convention.observation }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- STUDY TABLE WRAP END -->
        </div>
      </div>
    </div>
  </div>
</div>
