<body>
  <!--KF KODE WRAPPER WRAP START-->
  <div class="kode_wrapper">
    <!--Banner Wrap Start-->
    <div class="kf_inr_banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--KF INR BANNER DES Wrap Start-->
            <div class="kf_inr_ban_des">
              <div class="inr_banner_heading">
                <h3>Centre 4C</h3>
              </div>

              <div class="kf_inr_breadcrumb">
                <ul>
                  <li><a href="JavaScript:Void(0);">Formation</a></li>
                  <li><a href="/formation/4c">Centre 4C</a></li>
                </ul>
              </div>
            </div>
            <!--KF INR BANNER DES Wrap End-->
          </div>
        </div>
      </div>
    </div>

    <!--Banner Wrap End-->

    <!--Content Wrap Start-->
    <div class="kf_content_wrap">
      <section>
        <div class="container">
          <!-- Cursus Formation START -->
          <div class="row">
            <div class="col-md-12">
              <div class="contact_2_headung">
                <h3>Centre de Carrières et de Certification des Compétences (4C) de l'INSAT</h3>
                <p style="color: #000000; font-size: larger; font-weight: normal">Le 4C a pour mission de :</p>
                <ul>
                  <li>
                    <p>
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      Améliorer l’employabilité des futurs diplômés grâce un programme de conseil, d’accompagnement, de
                      formation, de certification et de réseautage
                    </p>
                  </li>
                  <li>
                    <p>
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      Renforcer les capacités des enseignants pour mieux impacter l’employabilité des étudiants.
                    </p>
                    <br />
                  </li>
                </ul>
                <p style="color: #000000; font-size: larger; font-weight: normal">Objectifs du 4C :</p>
                <ul>
                  <li>
                    <p>
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      l’accueil, l’information, l’orientation universitaire et professionnelle et l’accompagnement vers
                      l’emploi à travers la formation, l’amélioration des compétences et la certification.
                    </p>
                  </li>
                  <li>
                    <p>
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      La mise en œuvre de partenariats avec le milieu socioéconomique et toute entreprise désirant
                      recruter un profil professionnel particulier ayant obtenu un diplôme de l’INSAT .
                    </p>
                  </li>
                  <li>
                    <p>
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      Le renforcement et la valorisation des qualifications professionnelles des employés des
                      entreprises.
                    </p>
                  </li>
                  <li>
                    <p>
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      Le renforcement des capacités de formateurs de l’INSAT à travers la certification.
                    </p>
                  </li>
                  <li>
                    <p>
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      L’utilisation et la gestion des medias sociaux et des sites professionnels .
                    </p>
                  </li>
                  <li>
                    <p>
                      <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>
                      Le recours aux plateformes dédiées à l’emploi et au développement de carrières (comme Tounes
                      Ta3mal) .
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Docs INSAT END-->
          <!-- Acces INSAT START -->
          <div class="row">
            <div class="col-md-12">
              <div class="contact_2_headung">
                <h3>Comité de pilotage du 4C de l’INSAT</h3>
                <ul>
                  <li>
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'user']" style="color: #830709"></fa-icon>
                      Directeur du centre:
                    </span>
                    <span> Faten CHAIEB</span>
                    <br />
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'at']" style="color: #830709"></fa-icon>
                      E-mail :
                    </span>
                    <a href="mailto:fchaieb@outlook.com"> fchaieb@outlook.com </a>
                    <br />
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'briefcase']" style="color: #830709"></fa-icon>
                      Missions :
                    </span>
                    <ul>
                      <li style="margin-left: 10px">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>

                        Animer, planifier et coordonner les actions du centre 4C.
                      </li>
                    </ul>
                    <br />
                  </li>
                  <li>
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'user']" style="color: #830709"></fa-icon>
                      Responsable Communication/Réseautage :
                    </span>
                    <span> Naouel ABDELMOULA</span>
                    <br />
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'at']" style="color: #830709"></fa-icon>
                      E-mail :
                    </span>
                    <a href="mailto:naouelab@yahoo.fr"> naouelab@yahoo.fr</a>
                    <br />
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'briefcase']" style="color: #830709"></fa-icon>
                      Missions :
                    </span>
                    <ul>
                      <li style="margin-left: 10px">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>

                        Etablir des partenariats avec les recruteurs potentiels et les organisations
                        socioprofessionnelles.
                      </li>
                      <li style="margin-left: 10px">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>

                        Développer des stratégies de recrutement mettant en valeur la relation employeur/université.
                      </li>
                      <li style="margin-left: 10px">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>

                        Mettre à jour et gérer la base de données des offres d’emploi et de stages.
                      </li>
                      <li style="margin-left: 10px">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>

                        Tenir à jour la page Facebook du 4C et la plateforme 4C.
                      </li>
                    </ul>
                    <br />
                  </li>
                  <li>
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'user']" style="color: #830709"></fa-icon>
                      Responsable Formation/Conseil :
                    </span>
                    <span> Lilia SFAXI </span>
                    <br />
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'at']" style="color: #830709"></fa-icon>
                      E-mail :
                    </span>
                    <a href="mailto:lilia.sfaxi@insat.rnu.tn"> lilia.sfaxi@insat.rnu.tn</a>
                    <br />
                    <span style="font-size: larger; font-weight: normal">
                      <fa-icon [icon]="['fas', 'briefcase']" style="color: #830709"></fa-icon>
                      Missions :
                    </span>
                    <ul>
                      <li style="margin-left: 10px">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>

                        Animer et organiser avec les partenaires des ateliers en TRE, soft skills, entrepreneuriat.
                      </li>
                      <li style="margin-left: 10px">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>

                        Coacher les étudiants ayant passé le test psychométrique .
                      </li>
                      <li style="margin-left: 10px">
                        <fa-icon [icon]="['fas', 'check']" style="color: #830709"></fa-icon>

                        Accompagner les étudiants durant la phase de candidature aux postes offerts par les employeurs,
                        les diriger quant à la rédaction de leurs CV, assurer la simulation d’entrevues.
                      </li>
                    </ul>
                    <br />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Acces INSAT END-->
        </div>
      </section>
    </div>
    <!--Content Wrap End-->
  </div>
  <!--KF KODE WRAPPER WRAP END-->
</body>
